#notificationMenu {
    padding:0;
    width:550px;
    height:300px;
    overflow:auto;
    display:none;
}

mat-list-item {
    font-family:'Roboto', sans-serif;
}

h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

#notifX {
    margin-left:40px;
    position:relative;
    bottom:5px;
}

.center-text {
    position:relative;
    align-content: center;
    text-align: center;
}