:host #notificationMenu {
    padding:0;
    width:400px;
    max-height:400px;
    //min-height:300px;
    overflow:auto;
    display:none;
    margin-right:0 auto;
}

mat-list-item {
    font-family:'Roboto', sans-serif;
}

h4 {
    display:inline;
    margin-right:1em;
}