#notificationMenu {
    padding:0;
    width:550px;
    height:300px;
    overflow-y:auto;
    overflow-x:hidden;
    //display:none;
}

mat-list-item {
    font-family:'Roboto', sans-serif;
    overflow-wrap: normal;
    padding-top:60px;
    padding-bottom:50px;
}

.row {
    position:relative;
    bottom:30px;
}

h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    display:inline;
}

#notifX {
    position:relative;
    left:20px;
    float:right
}

.center-text {
    position:relative;
    align-content: center;
    text-align: center;
}