<mat-card id="notificationMenu" class="notification-card">
    <mat-list>
        <mat-list-item *ngFor="let notif of notifications">
            <!-- <span *ngFor="let priority"><i class="fas fa-exclamation"></i></span> -->
            <h3>{{notif.name}}</h3>
            <strong></strong>
            <h5>{{notif.description}}</h5>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="!notifications">
            <h4>Nothing to see here.</h4>
        </mat-list-item>
    </mat-list>
</mat-card>