<mat-card id="notificationMenu" class="container pull-left notification-card">
    <mat-list>
        <mat-list-item *ngFor="let notif of notifications">
            <!-- <span *ngFor="let priority"><i class="fas fa-exclamation"></i></span> -->
            <h4 style="padding-right:20px;">{{notif.name}}</h4>
            <strong></strong>
            <h5>{{notif.description}}</h5>
            <button id="notifX" class=close (click)="deleteNotif(notif)" aria-label="Close">&times;</button>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="!notifications">
            <h4 class="center-text">Nothing to see here.</h4>
        </mat-list-item>
    </mat-list>
</mat-card>