<!-- Jack Reyburn -->

<!-- Box to hold all new group information -->
<div class="new-group-dialog-container">
    <!-- row header -->
    <div id="newGroupHeader" class="row" style="position:relative">
        <!-- header -->
        <h4 mat-dialog-title>Create New Group</h4>

        <!-- close button -->
        <button mat-dialog-close id="closingX" class="close">&times;</button>
    </div>

    <!-- box to hold all input forms -->
    <mat-dialog-content>
        <form #f="ngForm">
            <!-- name input box -->
            <mat-form-field id="nameBlock">
                <input matInput id="newGroupName" name="newGroupName" [(ngModel)]="newGroup.name" type="text" placeholder="Group Name" required>
            </mat-form-field>
            <br>

            <!-- description input box -->
            <mat-form-field id="descBlock">
                <textarea matInput id="newGroupDesc" name="newGroupDesc" [(ngModel)]="newGroup.description" type="text" placeholder="Description"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <!-- button to submit changes -->
    <mat-dialog-actions style="justify-content:center">
        <button mat-button id="submitButton" (click)="addGroup(newGroup)" [disabled]="!f.valid">Submit</button>
    </mat-dialog-actions>
</div>