<!-- Jack Reyburn -->
<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control
Creates the header at the top of popup -->
<div id="newLayerHeader" class="row">
    <h4 mat-dialog-title>Create New Layer</h4>
    <!-- 'x' close button at the top right -->
    <div class="col-sm-1 col-sm-offset-2">
        <button mat-dialog-close id="newLayerX" class="close" aria-label="Close">&times;</button>
    </div>
</div>
<hr>

<!-- Tab structure for multi step creation process for new layers -->
<mat-dialog-content>
    <form #f="ngForm">
        <!-- Row 1 -->
        <div class="row" style="width:100%">
            <!-- Layer name entry box -->
            <mat-form-field id="nameBlock">
                <input matInput id="newlayername" name="newlayername" value="newLayer.layerName" required [(ngModel)]="newLayer.layerName" placeholder="Name">
            </mat-form-field>

            <!-- Description entry box -->
            <mat-form-field id="descBlock">
                <input matInput id="newlayerdescription" name="newlayerdescription" [(ngModel)]="newLayer.layerDescription" placeholder="Description">
            </mat-form-field>
        </div>
        <br>

        <!--Row 2-->
        <div class="row" style="width:100%">
            <!-- Identity entry box -->
            <mat-form-field id="idBlock">
                <input matInput value="newLayer.layerIdent" id="newlayerident" name="newlayerident" [(ngModel)]="newLayer.layerIdent" placeholder="Identity">
                <!-- <input matInput *ngIf="newLayer.layerIdent != null" id="newlayerident2" value="{{newLayer.layerIdent}}" readonly placeholder="Identity"> -->
            </mat-form-field>

            <!-- Drop down menu for layer source type -->
            <mat-form-field id="typeBlock">
                <mat-select id="newlayertype" name="newlayertype" [(ngModel)]="newLayer.layerType" required placeholder="Layer Source Type">
                    <mat-option value="PostGIS">PostGIS</mat-option>
                    <mat-option value="MapServer">MapServer</mat-option>
                    <mat-option value="WMS">WMS</mat-option>
                    <mat-option value="WMTS">WMS</mat-option>
                    <mat-option value="KML-Link">KML-Link</mat-option>
                    <mat-option value="KML-Drive">KML-Drive</mat-option>
                    <mat-option value="GeoJSON">GeoJSON</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>

        <!--Row 3 -->
        <div class="row" style="width:100%">
            <!-- Service entry box -->
            <mat-form-field id="serviceBlock">
                <input matInput value="newLayer.layerName" id="newlayerservice" name="newlayerservice" [(ngModel)]="newLayer.layerService" placeholder="Service">
                <!-- <input matInput *ngIf="newLayer.layerService != null" id="newlayerident2" value="{{newLayer.layerService}}" readonly placeholder="Service"> -->
            </mat-form-field>

            <!-- Geometry drop down menu -->
            <mat-form-field id="geomBlock">
                <mat-select id="newlayergeom" name="newlayergeom" [(ngModel)]="newLayer.layerGeom" required placeholder="Geometry">
                    <mat-option value="Point">Point</mat-option>
                    <mat-option value="Polyline">Polyline</mat-option>
                    <mat-option value="Polygon">Polygon</mat-option>
                    <mat-option value="Coverage">Coverage</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>

        <!--Row 4-->
        <div class="row" style="width:100%">
            <!-- Server drop down menu -->
            <mat-form-field id="servBlock">
                <mat-select id="newLayerServer" name="newLayerServer" [(ngModel)]="newLayer.serverID" required placeholder="Server">
                    <mat-option [value]="server.ID" *ngFor="let server of servers">
                        {{server.serverName}}
                    </mat-option>
                </mat-select>
                <input matInput *ngIf="newLayer.server != null" id="newlayerserver2" value="{{newLayer.server.serverName}}" readonly placeholder="Server">
            </mat-form-field>

            <!-- Format drop down menu -->
            <mat-form-field id="formBlock">
                <mat-select id="newLayerFormat" name="newLayerFormat" [(ngModel)]="newLayer.layerFormat" required placeholder="Format">
                    <mat-option value="image/png">image/png</mat-option>
                    <mat-option value="image/jpg">image/jpg</mat-option>
                    <mat-option value="image/jpeg">image/jpeg</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<!-- button to add new layer -->
<mat-dialog-actions style="justify-content:center">
    <button mat-button id="addLayerButton" (click)="addLayer(newLayer)" [disabled]="!f.valid">Add Layer</button>
</mat-dialog-actions>