#headerSidenavToggle {
    position:relative;
    bottom:2px;
}

.row {
    height:53px;
    position:relative;
    z-index:1;
    background-color:black;
}

h5, h4, h3 {
    color:white;
    margin:0px 0px 0px 10px;
    top:15%;
    position:relative;
    font-family: 'Roboto', sans-serif;
}

h5 {
    top:20%;
}

h3 {
    top:20%;
}

img {
    width:25px;
    height:25px;
}

a i {
    top:5%;
}

#headerSettings {
    color:white;
}

.material-icons {
    font-size:30px;
}

#headerSidenavToggle {
    margin-left:40px;
}

#headerRight {
    display:flex;
    margin-top:10px;
    justify-content:flex-end;
    padding-right:2%;
}

#headerBar {
    display: flex;
}

#headerNotifications {
    color:#337ab7;
    position:relative;
    bottom:5px;
    margin-left:5px;
    padding:0;
    z-index:1;
}

.mat-button {
    min-width:25px;
}

button:focus {
    outline:none;
    width:25px;
}

a {
    margin-left:10px;
}

h3 a {
    margin-left:5px;
    z-index:5;
}

.shake {
    animation: shake 0.82s;
//     -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
//   -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
//   -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
//   -o-animation: 1600ms pulsate infinite alternate ease-in-out;
//   animation: 1600ms pulsate infinite alternate ease-in-out;
}

@keyframes shake {
    // 10%, 90% {
    //     transform: translate3d(-1px, 0, 0);
    // }

    // 20%, 80% {
    //     transform: translate3d(2px, 0, 0);
    // }

    // 30%, 50%, 70% {
    //     transform: translate3d(-4px, 0, 0);
    // }

    // 40%, 60% {
    //     transform: translate3d(4px, 0, 0);
    // }
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}