#headerSidenavToggle {
    position:relative;
    bottom:2px;
}

.row {
    height:53px;
    position:relative;
    z-index:1;
    background-color:black;
}

h4, h3 {
    color:white;
    margin:0px 30px 0px 10px;
    top:25%;
    position:relative;
    font-family:georgia;
}

a {
    margin-left:10px;
}

.material-icons {
    font-size:30px;
}

#headerSidenavToggle {
    margin-left:40px;
}

#headerRight {
    display:flex;
    margin-top:10px;
    justify-content:flex-end;
    padding-right:2%;
}

#headerSettings, #headerAdmin {
    position:relative;
    top:1px;
}

#headerBar {
    display: flex;
}