#welcome {
    position: absolute;
    margin-top: 5px;
}

#vData {
    position: absolute;
    margin-left: 220px;
    /*-webkit-text-fill-color: rgb(66, 147, 255); Something to think about*/
}

#inboxBtn, #logoffBtn, #settingsBtn {
    right: 25px;
}
/*a {
    -webkit-text-fill-color: rgb(66, 147, 255); Something to think about
}*/