<div id="headerBar" class="row">
    <span id="headerLeft" class="col-sm-6">
        <!-- Name and the 3 buttons for settings, map, and messages -->
        <h3>
            <a id="headerSettings" title="Settings">{{user.firstName}}&nbsp;{{user.lastName}}</a>
            <button button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon id="settingsButton">settings</mat-icon>
            </button>
            <a id="mapButton" title="Return to map" routerLink="home"><i class="fa fa-cube"></i></a>
            <button mat-button *ngIf="screenCode == 1" id="headerNotifications" (click)="openNotifications(userID)"><i id="headerNotifIcon" class="fa fa-envelope fa-2x" aria-hidden="true"></i></button>
        </h3>       
    </span>

    <!-- Settings menu including api key, password, page edit, and profile settings -->
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
        <p mat-menu-item>
            <mat-icon style="vertical-align:text-bottom">settings</mat-icon>
            <span><a style="color:purple" [routerLink]="['/settings', {outlets: {settings: ['profile']}}]" routerLinkActive="active"Profile Settings>Profile Settings</a></span>
        </p>
    
        <p mat-menu-item>
            <mat-icon style="vertical-align:text-bottom">lock</mat-icon>
            <span><a style="color:purple" [routerLink]="['/settings', {outlets: {settings: ['password']}}]" routerLinkActive="active"Profile Settings>Change Password</a></span>
        </p>

        <p mat-menu-item>
            <mat-icon style="vertical-align:text-bottom">vpn_key</mat-icon>
            <span><a style="color:purple" [routerLink]="['/settings', {outlets: {settings: ['apikey']}}]" routerLinkActive="active"Profile Settings>API Key</a></span>
        </p>

        <p mat-menu-item name="editPages" id="settings-open-pages" (click)="openPages(userID, currUser.firstName, currUser.lastName)">
            <mat-icon style="vertical-align:text-bottom">restore_page</mat-icon><a style="color:purple">Edit Pages</a>
        </p>
    </mat-menu>

    <!-- logout and administrator settings -->
    <span id="headerRight" class="col-sm-3 col-sm-offset-3">
        <a id="headerLogout" title="Logout" routerLink="/logout"><h5>Logout</h5></a>
        <a id="headerAdmin" *ngIf="user.administrator" title="Admin Menu" [routerLink]="['/admin', {outlets: {admin: ['layer']}}]"><h5>Admin Settings</h5></a>
    </span>
</div>

