#headerSidenavToggle {
    position:relative;
    bottom:2px;
}

.row {
    height:53px;
    position:relative;
    z-index:1;
    background-color:black;
}

h5, h4, h3 {
    color:white;
    margin:0px 0px 0px 10px;
    top:15%;
    position:relative;
    font-family: 'Roboto', sans-serif;
}

h5 {
    top:20%;
}

h3 {
    top:20%;
}

img {
    width:25px;
    height:25px;
}

a i {
    top:5%;
}

#headerSettings {
    color:white;
}

.material-icons {
    font-size:30px;
}

#headerSidenavToggle {
    margin-left:40px;
}

#headerRight {
    display:flex;
    margin-top:10px;
    justify-content:flex-end;
    padding-right:2%;
}

#headerBar {
    display: flex;
}

#headerNotifications {
    color:#337ab7;
    position:relative;
    bottom:5px;
    margin-left:5px;
    padding:0;
    z-index:1;
}

.mat-button {
    min-width:25px;
}

button:focus {
    outline:none;
    width:25px;
}

a {
    margin-left:10px;
}

h3 a {
    margin-left:5px;
    z-index:5;
}