<!-- This defines the component redirected to by the "Layers" option in the navigation sidepane.-->
<div style="width:100%">
    <!-- Displays user layers-->
    <div class="row" style="position:relative; bottom:3px; left:20px">
        <div class="col-md-1" style="left:15px">
            <h4>Name</h4>
        </div>
        <div class="col-md-2" style="left:35px">
            <h4>Type</h4>
        </div>
        <div class="col-md-2" style="right:45px">
            <h4>URL</h4>
        </div>
        <div class="col-md-1" style="right:5px">
            <h4>Identity</h4>
        </div>
        <div class="col-md-2" style="left:15px">
            <h4>Format</h4>
        </div>
        <div class="col-md-1" style="right:68px">
            <h4>Description</h4>
        </div>
        <div class="col-md-2">
            <div ngbDropdown style="position:absolute; left:90px; top:10px">   
                <button id="sort" type="button" style="position:absolute;height:25px;width:100px;left:0px;top:0px" class="btn-primary" ngbDropdownToggle (click)="sortPages()">Sort Layers</button>
                <div id="sortDrop" class="dropdown-menu dropdown-menu-right" style="position:relative; top:22px" aria-labelledby="options">
                    <button type="button" style="position:relative; left:5px; margin-bottom:5px"class="btn btn-secondary">Name (Ascending)</button>
                    <button type="button" style="position:relative; left:5px; margin-bottom:5px"class="btn btn-secondary">Name (Descending)</button>
                    <button type="button" style="position:relative; left:5px; margin-bottom:5px"class="btn btn-secondary">Type</button>
                    <button type="button" style="position:relative; left:5px; margin-bottom:5px"class="btn btn-secondary">Old to New</button>
                    <button type="button" style="position:relative; left:5px; margin-bottom:5px"class="btn btn-secondary">New to Old</button>
                </div>
            </div>
            <!--<button id="sort" type="button" style="position:absolute;height:25px;width:100px;left:90px;top:8px" class="btn-primary" (click)="sortPages()">Sort Layers</button>Probably a ngbdropdown-->
        </div>
    </div>    
    <form class="form-inline" #e="ngForm" style="position:relative; left:20px" *ngFor="let layeradmin of layeradmins">
        <!--<i (click)="deleteLayer(layeradmin.ID)" class="fa fa-times" aria-hidden="true"></i>-->
        <button id="btnOpenDel" class="fa fa-times" (click)="setFlag(layeradmin.ID)"></button><!--Use [(ngClass])?-->
        <input id="exlayername" ngModel required name="exlayername" title="{{layeradmin.layerName}}" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:10%" [(ngModel)] = "layeradmin.layerName" type="text" (blur)="updateLayer(layeradmin)">
        <select id="exlayertype" ngModel required name="exlayertype" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:10%" [(ngModel)] = "layeradmin.layerType" type="text" (blur)="updateLayer(layeradmin)">
            <option>PostGIS</option>
            <option>WMS</option>
            <option>KML-Link</option>
            <option>KML-Drive</option>
        </select>
        <input id="exlayerurl" name="exlayerurl" title="{{layeradmin.layerURL}}" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:20%" [(ngModel)] = "layeradmin.layerURL" type="text" (change)="updateLayer(layeradmin)">
        <input id="exlayerident" name="exlayerident" title="{{layeradmin.layerIdent}}" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:10%" [(ngModel)] = "layeradmin.layerIdent" type="text" (change)="updateLayer(layeradmin)">
        <input id="exlayerformat" name="exlayerformat" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:10%" [(ngModel)] = "layeradmin.layerFormat" type="text" (change)="updateLayer(layeradmin)">            
        <input id="exlayerdescription" ngModel required name="exlayerdescription" title="{{layeradmin.layerDescription}}" class="form-control" style="border-color: rgba(255,255,255,0); border:ridge; border-width:2px; border-radius:4px; width:20%" [(ngModel)] = "layeradmin.layerDescription" type="text" (blur)="updateLayer(layeradmin)">

        <!-- Display modal: users that have permissions with specific layer; Redirect to: layerpermission component via openpermission()-->
        <button class="btn btn-outline-primary" title="Open layer permissions" (click)="openpermission(layeradmin.ID,layeradmin.layerName)">Permissions</button>
    </form>
    <confirmdelete *ngIf="flag===true" (clicked)="onClicked($event)"></confirmdelete>
</div>        

<!-- Display modal: create new layer; Redirect to: layernew component via opennew()-->
<button class="btn btn-default" style="position:relative; top:5px; left:35px" (click)="opennew()">Create Layer</button>

<template ngbModalContainer></template>

<!-- Not used-->
<!--<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Permissions</h4>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
    <p>{{userperm}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<template #content let-c="close" let-d="dismiss"></template>-->

<!--{{closeResult}} -Debugging: Not necessary for now-->