#createLayerBtn {
     position:relative; 
     right:5%;
     margin-right: 5px;
     width: 30%;
}

#sortBtn {
    position:relative;
    height:100%;
    width:100%;
    right:17%;
}

#sortDrop {
    width:170px;
}

#sortAZ, #sortOldNew, #sortNewOld, #sortZA, #sortType {
    position:relative; 
    left:5px; 
    margin-bottom:5px
}

#exlayername, #exlayerident, #exlayerurl, #exlayerdescription, #exlayerformat, #exlayertype, #exlayergeom, #exlayerserver {
    border-color: rgba(255,255,255,0); 
    border:ridge; 
    border-width:2px; 
    border-radius:4px; 
    width:10%;
    height:34px;
}

#exlayerperm {
    position:relative;
    width:13%;
    left:5px;
    height:32px;
    border-color: black;
    border-width: 1px;
}

h4 {
    color:black;
}
