<!-- Consider some style changes: 
      -The dropdown (combobox) controls that list each user should probably not be comboboxes, but static usernames.
       The fact that every user with permission is listed already assures that one need not use this functionality.
      -The current comboboxes (or future labels, etc.) and "Edit" checkbox contols should mimic the dual-column format
       described for the "New Layer" modal style recommendation. They should be separated.
      -The listed users need to be aligned with the "User" labelled control. This control is offset and looks awkward.-->

<div class="modal-header">
    <div class="row" style="width:100%">
        <div class="col-md-10">
            <h4 class="modal-title">{{layerName}} Permissions</h4>
        </div>
        <div class="col-md-2">
            <button type="button" class="close" style="position:relative; top:4px;" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="modal-body">
    <h5 style="position:relative; left:15px;">Current Permissions</h5><br>
    <form class="form-inline" #f="ngForm" *ngFor="let layerpermission of layerpermissions">
        <div class="form-group" style="margin-bottom:5px;">
            <i (click)="deleteLayerPermission(layerpermission.ID)" class="fa fa-times" style="margin-right:10px; margin-left:15px;" aria-hidden="true"></i>
            <!--Change this to bold text labels, not controls-->
            <select id="user" name="user" style="margin-right:5px;" class="form-control" [(ngModel)] = "layerpermission.userID" required type="text" (blur)="updateLayerPermission(layerpermission)"  >
                <option [value]="user.ID" *ngFor="let user of users">
                    {{user.firstName}} {{user.lastName}}
                </option>
            </select>
            <input type="checkbox" name="layerpermissionedit" [(ngModel)]="layerpermission.edit" (change)="updateLayerPermission(layerpermission)"> Edit
        </div>
    </form>
</div>

<div class="modal-footer" style="width:100%">
    <div class="row" style="width:100%; margin-left:15px; margin-bottom:100px;">
        <h5>New Permission</h5>
    </div>

    <form class="form-inline" #f="ngForm" style="position:relative; width:100%; right:49%;" (ngSubmit)="addLayerPermission(newlayerpermission)">
        <div class="form-group">
            <label for="user" style="margin-right:10px">User</label>
            <select id="user" name="user" class="form-control" [(ngModel)] = "newlayerpermission.userID" required type="text">
                <option [value]="user.ID" *ngFor="let user of users">
                    {{user.firstName}} {{user.lastName}}
                </option>
            </select>
            <input type="checkbox" name="newlayerpermissionedit" style="margin-left:46px; position:relative; bottom:3px" [(ngModel)]="newlayerpermission.edit"> Edit 
        </div>

        <div class="row" style="margin-top:25px; width:100%; position:relative; left:45%">
            <div class="col-md-3 col-md-offset-1">
                <button type="button" class="btn btn-secondary" (click)="dialog.closeAll()">Close</button>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <button class="btn btn-outline-primary" type="submit" [disabled]="!f.valid">Add Permission</button>
            </div>
        </div>
    </form>
</div>