<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control-->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create New Layer</h4>
</div>

<div class="modal-body">
    <form #f="ngForm" (ngSubmit)="addLayer(newlayeradmin)">

        <!--Row 1-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayername">Name</label>
                </div>
                <div class="col-md-5">
                    <input id="newlayername" name="newlayername" required #newlayerinput [(ngModel)] = "newlayeradmin.layerName" type="text" placeholder="Layer Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayerformat">Format</label>
                </div>
                <div class="col-md-5">
                    <input id="newlayerformat" name="newlayerformat" #newlayerformatinput [(ngModel)] = "newlayeradmin.layerFormat" type="text" placeholder="Layer Format">
                </div>
            </div>      
        </div>
        <br>

        <!--Row 2-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayertype">Type</label>
                </div>
                <div class="col-md-3">
                    <select id="newlayertype" name="newlayertype" class="form-control input-sm col-sm" [(ngModel)] = "newlayeradmin.layerType" required type="text" placeholder="Layer Type">
                    <option>PostGIS</option>
                    <option>WMS</option>
                    <option>KML-Link</option>
                    <option>KML-Drive</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2"></div>

            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayerident">Identity</label>
                </div>
                <div class="col-md-5">
                    <input id="newlayerident" name="newlayerident" #newlayeridentinput [(ngModel)] = "newlayeradmin.layerIdent" type="text" placeholder="Layer Identity">
                </div>
            </div>
        </div>
        <br>

        <!--Row 3-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayerurl">URL</label>
                </div>
                <div class="col-md-5">
                    <input id="newlayerurl" name="newlayerurl" #newlayerurlinput [(ngModel)] = "newlayeradmin.layerURL" type="text" placeholder="Layer URL">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1">
                    <label for="newlayerdescription">Description</label> <!-- This is getting clipped off by its input box-->
                </div>
                <div class="col-md-5">
                    <input id="newlayerdescription" name="newlayerdescription" required #newlayerdescriptioninput [(ngModel)] = "newlayeradmin.layerDescription" type="text" placeholder="Description">
                </div>
            </div>
        </div>
        <br>
        <br>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary text-center" (click)="activeModal.close('Close click')">Close</button><button class="btn btn-outline-primary text-center" (click)="addLayer(newlayeradmin)" [disabled]="!f.valid">Add Layer</button>
</div>