input, select {
    position:absolute;
    left:30px;
    width:134px;
    height:24px;
    margin-bottom:8px;
}

label {
    position:relative;
    direction:rtl;
    left:38px;
    top:3px;
}

/*#newlayerdescription, #newlayertype, #newlayergeom, {
    left:30px;
}

#descriptionLabel, #typeLabel, #geomLabel {
    left:38px;
}*/

h4 {
    color:black;
}

/*#formatLabel, #typeLabel, #geomLabel {
    left:25px;
    top:3px;
}*/

#nameBlock, #idBlock, #servBlock, #formBlock {
    position:relative; 
    right:8%
}

#descBlock, #typeBlock, #geomBlock {
    position:relative; 
    left:8%
}