<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control-->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create New Layer</h4>
</div>

<div class="modal-body">
    <form #f="ngForm" (ngSubmit)="addLayer(newlayeradmin)">

        <!--Row 1-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label id="nameLabel" for="newlayername">Name</label>
                </div>
                <div class="col-md-4">
                    <input id="newlayername" name="newlayername" required #newlayerinput [(ngModel)] = "newlayeradmin.layerName" type="text" placeholder="Layer Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <label id="formatLabel" for="newlayerformat">Format</label>
                </div>
                <div class="col-md-5">
                    <select id="newlayerformat" name="newlayerformat" class="form-control input-sm col-sm" [(ngModel)] = "newlayeradmin.layerFormat" required type="text">
                        <option>image/png</option>
                        <option>image/jpg</option>
                        <option>image/jpeg</option>
                    </select>
                </div>
            </div>      
        </div>
        <br>

        <!--Row 2-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label id="identLabel" for="newlayerident">Identity</label>
                </div>
                <div class="col-md-4">
                    <input id="newlayerident" name="newlayerident" #newlayeridentinput [(ngModel)] = "newlayeradmin.layerIdent" type="text" placeholder="Layer Identity">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <label id="typeLabel" for="newlayertype">Type</label>
                </div>
                <div class="col-md-4">
                    <select id="newlayertype" name="newlayertype" class="form-control input-sm col-sm" [(ngModel)] = "newlayeradmin.layerType" required type="text" placeholder="Layer Type">
                    <option>PostGIS</option>
                    <option>WMS</option>
                    <option>KML-Link</option>
                    <option>KML-Drive</option>
                    <option>GeoJSON</option>
                    </select>
                </div>
            </div>
        </div>
        <br>

        <!--Row 3-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <!--<label id="urlLabel" for="newlayerurl">URL</label>-->
                    <label id="serverIdLabel" for="newlayerserver">Server</label>
                </div>
                <div class="col-md-4">
                    <!--<input id="newlayerserver" name="newlayerserver" #newlayerserverinput [(ngModel)] = "newlayeradmin.layerURL" type="text" placeholder="Layer URL">-->
                   <!--7/24/17 copy this block over to layeradmin--> <select id="newlayerserver" class="form-control input-sm col-sm" name="newlayerserver" [(ngModel)] = "newlayeradmin.serverID" class="form-control input-sm col-sm" required type="number">
                        <option [value]="server.ID" *ngFor="let server of servers">
                        {{server.serverName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <label id="geomLabel" for="newlayergeom">Geometry</label>
                </div>
                <div class="col-md-4">
                    <select id="newlayergeom" name="newlayergeom" class="form-control input-sm col-sm" [(ngModel)] = "newlayeradmin.layerGeom" required type="text">
                    <option>Point</option>
                    <option>Polyline</option>
                    <option>Polygon</option>
                    <option>Coverage</option>
                    </select>
                </div>
            </div>   
        </div>
        <br>

        <!--Row 4-->
        <div class="column">
            <div class="form-group">
                <div class="col-md-1">
                    <label id="descriptionLabel" for="newlayerdescription">Description</label> <!-- This is getting clipped off by its input box-->
                </div>
                <div class="col-md-5">
                    <input id="newlayerdescription" name="newlayerdescription" #newlayerdescriptioninput [(ngModel)] = "newlayeradmin.layerDescription" type="text" placeholder="Description">
                </div>
            </div>
        </div>
        <br>
        <br>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary text-center" (click)="activeModal.close('Close click')">Close</button>
    <button class="btn btn-outline-primary text-center" (click)="addLayer(newlayeradmin)" [disabled]="!f.valid">Add Layer</button>
</div>