<mat-expansion-panel [expanded]="SDSConfig.expanded == true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{instance.name}}
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button mat-button mat-raised-button color="primary" *ngIf="mapConfig.selectedFeature"
    (click)="goToTab('Input')">Input</button>
  <button mat-button mat-raised-button color="primary" *ngIf="mapConfig.selectedFeature"
    (click)="goToTab('Search')">Search</button>
  <button mat-button mat-raised-button color="primary" *ngIf="mapConfig.selectedFeature"
    (click)="goToTab('List')">List</button>
  <button mat-button mat-raised-button color="primary" *ngIf="SDSConfig.selectedItem"
    (click)="goToTab('Item')">Item</button>
  <button mat-button mat-raised-button color="primary" matTooltip="Use this in an Excel Data Connection"
    (click)="copyToClipboard('sql/getsheets?schema=modules&table=m' + SDSConfig.moduleInstanceID + 'data')">Export</button>
  <!-- <button mat-button mat-raised-button color="primary" (click)="openDashboard()">Dashboard</button> -->
  <div *ngIf="SDSConfig.tab=='Input' && mapConfig.selectedFeature != null" label="Input"><br>
    <div *ngFor="let item of SDSConfig.itemData">
      <div *ngIf="item.type=='id'"></div>
      <div *ngIf="item.type=='geom'"></div>
      <div
        *ngIf="item.type=='integer' || item.type == 'smallint' || item.type == 'bigint' || item.type == 'double precision'">
        <div *ngIf="!item.constraints">
          <mat-form-field style="width:90%">
            <input matInput id="textinput" ngModel autocomplete='off' placeholder="{{item.field}}"
              [matTooltip]="item.description" [(ngModel)]="item.value">
          </mat-form-field>
        </div>
        <div *ngIf="item.constraints">
          <mat-form-field>
            <mat-label>{{item.field}}</mat-label>
            <mat-select [(value)]="item.value">
              <mat-option *ngFor="let constraint of item.constraints" [(value)]="constraint.name">{{constraint.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="item.type=='boolean'">
        <!-- checkbox for contracting -->
        <mat-checkbox [disabled]="false" [(ngModel)]="item.value" [matTooltip]="item.description">
          {{item.field}}</mat-checkbox>
      </div>
      <div>
        <div *ngIf="item.type=='text' || item.type == 'character varying'" [matTooltip]="item.description"
          matTooltipPosition="above" matTooltipShowDelay="1000">
          <div *ngIf="!item.constraints">
            <mat-form-field style="width:90%">
              <input type="text" matInput autocomplete='off' rows="3" [disabled]="false" id="textinput" ngModel
                placeholder="{{item.field}}" [(ngModel)]="item.value">
            </mat-form-field><br>
            <!-- <span [innerHTML]="item.value | linky"></span> -->
            <div *ngIf="item.value != null">
              <div *ngFor="let url of Autolinker.parse(item.value)">
                <div [innerHTML]="url.url | linky: {truncate: 32}"></div>
                <div [innerHTML]="url.email | linky: {truncate: 32}"></div>
                <span [innerHTML]="'<a href'"></span>
              </div>
            </div>
          </div>
          <div *ngIf="item.constraints">
            <mat-form-field>
              <mat-label>{{item.field}}</mat-label>
              <mat-select [(value)]="item.value">
                <mat-option *ngFor="let constraint of item.constraints" [(value)]="constraint.name">{{constraint.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="item.type=='date' || item.type=='timestamp with time zone'">
        <mat-form-field style="width:90%">
          <input matInput [disabled]="false" autocomplete='off' [matDatepicker]="picker" placeholder="{{item.field}}"
            [matTooltip]="item.description" [(ngModel)]="item.value">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="SDSservice.saveSDS(SDSConfigID)">Save</button>
  </div>
  <div *ngIf="SDSConfig.tab=='Search'" label=Search><br>
    <!-- <mat-slide-toggle matTooltip="" class="" [checked]="filterOpen" (change)="filterOpen = !filterOpen">
      <span>Only Open Tickets</span>
    </mat-slide-toggle><br>
    <mat-form-field style="width:45%">
      <input matInput [matDatepicker]="picker" placeholder="From Date (30 Days Ago)" [(ngModel)]="fromDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:45%">
      <input matInput [matDatepicker]="picker2" placeholder="To Date (Current Date)" [(ngModel)]="toDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field><br>
    <button mat-button mat-raised-button color="primary" (click)='filter()'>Filter</button>
    <button mat-button mat-raised-button color="primary" (click)='clearFilter()'>Clear Filter</button> -->
  </div>
  <div *ngIf="SDSConfig.tab=='List' && mapConfig.selectedFeature" label="List" style="width:100%"><br>
    {{SDSConfig.label}}
    <div *ngFor="let item of SDSConfig.list">
      <span *ngIf="item['id'] != SDSConfig.selectedItem"
        (click)="selectItem(item['id'], SDSConfigID)">{{item[SDSConfig.label]}}</span>
      <span *ngIf="item['id'] == SDSConfig.selectedItem"
        (click)="selectItem(item['id'], SDSConfigID)"><b>{{item[SDSConfig.label]}}</b></span>
    </div>
  </div>
  <div *ngIf="SDSConfig.tab == 'Item'"><br>
    <div *ngFor="let item of SDSConfig.itemData">
      <div *ngIf="item.type=='id'"></div>
      <div *ngIf="item.type=='geom'"></div>
      <div
        *ngIf="item.type=='integer' || item.type == 'smallint' || item.type == 'bigint' || item.type == 'double precision'">
        <div *ngIf="!item.constraints">
          <mat-form-field style="width:90%">
            <input matInput [disabled]="SDSConfig.editRecordDisabled" id="textinput" ngModel autocomplete='off'
              placeholder="{{item.field}}" [matTooltip]="item.description" [(ngModel)]="item.value">
          </mat-form-field>
        </div>
        <div *ngIf="item.constraints">
          <mat-form-field>
            <mat-label>{{item.field}}</mat-label>
            <mat-select [(value)]="item.value" [disabled]="SDSConfig.editRecordDisabled">
              <mat-option *ngFor="let constraint of item.constraints" [(value)]="constraint.name">{{constraint.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="item.type=='boolean'">
        <!-- checkbox for contracting -->
        <mat-checkbox [disabled]="SDSConfig.editRecordDisabled" [(ngModel)]="item.value"
          [matTooltip]="item.description">
          {{item.field}}</mat-checkbox>
      </div>
      <div>
        <div *ngIf="item.type=='text' || item.type == 'character varying'" [matTooltip]="item.description"
          matTooltipPosition="above" matTooltipShowDelay="1000">
          <div *ngIf="!item.constraints">
            <mat-form-field style="width:90%">
              <input type="text" matInput [disabled]="SDSConfig.editRecordDisabled" autocomplete='off' rows="3"
                [disabled]="false" id="textinput" ngModel placeholder="{{item.field}}" [(ngModel)]="item.value">
            </mat-form-field><br>
            <!-- <span [innerHTML]="item.value | linky"></span> -->
            <div *ngIf="item.value != null">
              <div *ngFor="let url of Autolinker.parse(item.value)">
                <div [innerHTML]="url.url | linky: {truncate: 32}"></div>
                <div [innerHTML]="url.email | linky: {truncate: 32}"></div>
                <span [innerHTML]="'<a href'"></span>
              </div>
            </div>
          </div>
          <div *ngIf="item.constraints">
            <mat-form-field>
              <mat-label>{{item.field}}</mat-label>
              <mat-select [(value)]="item.value" [disabled]="SDSConfig.editRecordDisabled">
                <mat-option *ngFor="let constraint of item.constraints" [(value)]="constraint.name">{{constraint.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="item.type=='date' || item.type=='timestamp with time zone'">
        <mat-form-field style="width:90%">
          <input matInput [disabled]="SDSConfig.editRecordDisabled" [matDatepicker]="picker"
            placeholder="{{item.field}}" [(ngModel)]="item.value">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <button *ngIf='SDSConfig.editRecordDisabled == true' mat-button mat-raised-button color="primary"
      (click)="SDSConfig.editRecordDisabled = false">Edit</button>
    <button *ngIf='SDSConfig.editRecordDisabled == false' mat-button mat-raised-button color="primary"
      (click)="SDSservice.updateSDS(SDSConfigID)">Save</button>
    <button mat-button mat-raised-button color="primary" (click)="SDSservice.deleteSDS(SDSConfigID)">Delete</button>
    <button mat-button mat-raised-button color="primary" (click)="SDSConfig.showLog = !SDSConfig.showLog">(isMember ? '$2.00' : '$10.00'</button><br>
    <div *ngIf="SDSConfig.showLog">
      <div *ngFor="let myCubeComment of SDSConfig.selectedItemLog" style="position:relative">
        <span><br>
          <div style="font-size: 80%;word-wrap:normal; width:380px">
            <!-- name and date -->
            <mat-divider></mat-divider>
            <b>{{myCubeComment.firstName}} {{myCubeComment.lastName}}</b>&nbsp;
            <i>{{myCubeComment.createdat | date}} at {{myCubeComment.createdat |
                  date:'shortTime'}}</i>
            <br>
            {{myCubeComment.comment}}
            <br>
          </div>
        </span>
      </div>
    </div>
  </div>

</mat-expansion-panel>