<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control-->
<div class="modal-header">
    <div class="col-md-9">
        <h4 class="modal-title">Create New Layer</h4>
    </div>
    <div class="col-md-1 col-md-offset-2">
        <button type="button" class="close" aria-label="Close" (click)="dialog.closeAll()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body">
    <form #f="ngForm" (ngSubmit)="addLayer(newLayerAdmin)">
        
        <!--Row 1-->
        <div class="column">
            <div id="nameBlock" class="form-group">
                <div class="col-md-1">
                    <label id="nameLabel" for="newlayername">Name</label>
                </div>
                <div class="col-md-4">
                    <input id="newlayername" name="newlayername" class="form-control input-sm col-sm" value="{{layerName}}" required [(ngModel)]="newLayerAdmin.layerName" type="text">
                </div>
            </div>

            <div id="descBlock" class="form-group">
                <div class="col-md-1">
                    <label id="descriptionLabel" for="newlayerdescription">Description</label>
                </div>
                <div class="col-md-4">
                    <input id="newlayerdescription" name="newlayerdescription" class="form-control input-sm col-sm"  [(ngModel)] = "newLayerAdmin.layerDescription" type="text">
                </div>
            </div>      
        </div>
        <br>

        <!--Row 2-->
        <div class="column">
            <div id="idBlock" class="form-group">
                <div class="col-md-1">
                    <label id="identLabel" for="newlayerident">Identity</label>
                </div>
                <div class="col-md-4">  
                    <input *ngIf="layerServer == null" id="newlayerident" name="newlayerident" class="form-control input-sm col-sm"  [(ngModel)] = "newLayerAdmin.layerIdent" type="text">
                    <input *ngIf="layerServer != null" id="newlayerident2" class="form-control input-sm col-sm" type="text" value="{{layerIdent}}" readonly>
                </div>
            </div>

            <div id="typeBlock" class="form-group">
                <div class="col-md-1">
                    <label id="typeLabel" for="newlayertype">Type</label>
                </div>
                <div style="margin-bottom:10px;" class="col-md-4">
                    <select *ngIf="layerType == null" id="newlayertype" value="{{layerType}}" name="newlayertype" class="form-control input-sm col-sm" [(ngModel)] = "newLayerAdmin.layerType" required type="text" placeholder="Layer Type">
                        <option>PostGIS</option>
                        <option>MapServer</option>
                        <option>WMS</option>
                        <option>KML-Link</option>
                        <option>KML-Drive</option>
                        <option>GeoJSON</option>
                    </select>
                    <input *ngIf="layerType != null" id="newlayertype2" class="form-control input-sm col-sm" value="{{layerType}}" readonly>
                </div>
            </div>
        </div>
        <br>

        <!--Row 3-->
        <div class="column">
            <div id="serviceBlock" class="form-group">
                <div class="col-md-1">
                    <label id="serviceLabel" for="newlayerservice">Service</label>
                </div>
                <div class="col-md-4">  
                    <input *ngIf="layerServer == null" id="newlayerservice" name="newlayerservice" class="form-control input-sm col-sm"  [(ngModel)] = "newLayerAdmin.layerService" type="text">
                    <input *ngIf="layerServer != null" id="newlayerident2" class="form-control input-sm col-sm" type="text" value="{{layerService}}" readonly>
                </div>
            </div>

            <div id="geomBlock" class="form-group">
                <div class="col-md-1">
                    <label id="geomLabel" for="newlayergeom">Geometry</label>
                </div>
                <div class="col-md-4">
                    <select id="newlayergeom" name="newlayergeom" class="form-control input-sm col-sm" [(ngModel)]="newLayerAdmin.layerGeom" required type="text">
                        <option>Point</option>
                        <option>Polyline</option>
                        <option>Polygon</option>
                        <option>Coverage</option>
                    </select>
                </div>
            </div>   
        </div>
        <br>

        <!--Row 4-->
        <div class="column">
            <div id="servBlock" class="form-group">
                <div *ngIf="layerServer == null" class="col-md-1">
                    <label id="serverLabel" for="newLayerServer">Server</label>
                </div>
                <div *ngIf="layerServer != null" class="col-md-1">
                    <label id="serverLabelText" for="newlayerservertext">Server</label>
                </div>

                <div class="col-md-4">
                    <select *ngIf="layerServer == null" id="newLayerServer" name="newLayerServer" [(ngModel)] = "newLayerAdmin.serverID" class="form-control input-sm col-sm" required type="number">
                        <option [value]="server.ID" *ngFor="let server of servers">
                            {{server.serverName}}
                        </option>
                    </select>
                    <input *ngIf="layerServer != null" id="newlayerservertext" class="form-control input-sm col-sm" value="{{layerServer.serverName}}" type="text" readonly>
                </div>
            </div>
            <div id="formBlock" class="form-group">
                <div *ngIf="layerFormat == null" class="col-md-1">
                    <label id="formatLabel" for="newLayerFormat">Format</label>
                </div>
                <div *ngIf="layerFormat != null" class="col-md-1">
                    <label id="formatLabel" for="newLayerFormatText">Format</label>
                </div>

                <div style="margin-bottom:10px;" class="col-md-5">
                    <select *ngIf="layerFormat == null" id="newLayerFormat" name="newLayerFormat" class="form-control input-sm col-sm" [(ngModel)] = "newLayerAdmin.layerFormat" required type="text">
                        <option>image/png</option>
                        <option>image/jpg</option>
                        <option>image/jpeg</option>
                    </select>
                    <input *ngIf="layerFormat != null" id="newLayerFormatText"  type="text" class="form-control input-sm col-sm"  required value="{{layerFormat}}" readonly>
                </div>
            </div>
        </div>
        <br>
        <br>
    </form>
</div>

<div id="layerNewFooter" class="modal-footer">
    <md-dialog-actions>
        <button type="button" class="btn btn-secondary text-center" (click)="dialog.closeAll()">Close</button>
        <button class="btn btn-outline-primary text-center" (click)="addLayer(newLayerAdmin)" [disabled]="!f.valid">Add Layer</button>
    </md-dialog-actions>
</div>