<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control-->
<div id="newLayerHeader" class="row">
    <div class="col-md-9">
        <h4 mat-dialog-title>Create New Layer</h4>
    </div>
    <div class="col-md-1 col-md-offset-2">
        <button mat-dialog-close id="newLayerX" class="close" >&times;</button>
    </div>
</div>
<hr>

<mat-dialog-content>
    <form #f="ngForm" (ngSubmit)="addLayer(newLayerAdmin)">
        <!--Row 1-->
        <div class="row" style="width:100%">
            <mat-form-field id="nameBlock">
                <div class="col-md-4">
                    <input matInput id="newlayername" name="newlayername" value="{{layerName}}" required [(ngModel)]="newLayerAdmin.layerName" placeholder="Name">
                </div>
            </mat-form-field>
            
            <mat-form-field id="descBlock">
                <div class="col-md-4">
                    <input matInput id="newlayerdescription" name="newlayerdescription" [(ngModel)] = "newLayerAdmin.layerDescription" placeholder="Description">
                </div>
            </mat-form-field>      
        </div>
        <br>

        <!--Row 2-->
        <div class="row" style="width:100%">
            <mat-form-field id="idBlock">
                <div class="col-md-4">  
                    <input matInput *ngIf="layerServer == null" id="newlayerident" name="newlayerident" [(ngModel)] = "newLayerAdmin.layerIdent" placeholder="Identity">
                    <input matInput *ngIf="layerServer != null" id="newlayerident2" value="{{layerIdent}}" readonly placeholder="Identity">
                </div>
            </mat-form-field>

            <!--Bug: choices are not working. mat-form-field is probably going to need to be split. -11/24/17-->
            <mat-form-field id="typeBlock">
                <div class="col-md-4">
                    <mat-select *ngIf="layerType == null" id="newlayertype" value="{{layerType}}" name="newlayertype" [(ngModel)]="newLayerAdmin.layerType" required placeholder="Layer Source Type">
                        <mat-option>PostGIS</mat-option>
                        <mat-option>MapServer</mat-option>
                        <mat-option>WMS</mat-option>
                        <mat-option>KML-Link</mat-option>
                        <mat-option>KML-Drive</mat-option>
                        <mat-option>GeoJSON</mat-option>
                    </mat-select>
                    <input matInput *ngIf="layerType != null" id="newlayertype2" value="{{layerType}}" readonly placeholder="Layer Source Type">
                </div>
            </mat-form-field>
        </div>
        <br>

        <!--Row 3-->
        <div class="row" style="width:100%">
            <mat-form-field id="serviceBlock">
                <div class="col-md-4">  
                    <input matInput *ngIf="layerServer == null" id="newlayerservice" name="newlayerservice" [(ngModel)] = "newLayerAdmin.layerService" placeholder="Service">
                    <input matInput *ngIf="layerServer != null" id="newlayerident2" value="{{layerService}}" readonly placeholder="Service">
                </div>
            </mat-form-field>

            <mat-form-field id="geomBlock">
                <div class="col-md-4">
                    <mat-select id="newlayergeom" name="newlayergeom" [(ngModel)]="newLayerAdmin.layerGeom" required placeholder="Geometry">
                        <mat-option>Point</mat-option>
                        <mat-option>Polyline</mat-option>
                        <mat-option>Polygon</mat-option>
                        <mat-option>Coverage</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>  
        </div>
        <br>

        <!--Row 4-->
        <div class="row" style="width:100%">
            <mat-form-field id="servBlock">
                <div class="col-md-4">
                    <mat-select *ngIf="layerServer == null" id="newLayerServer" name="newLayerServer" [(ngModel)] = "newLayerAdmin.serverID" required placeholder="Server">
                        <mat-option [value]="server.ID" *ngFor="let server of servers">
                            {{server.serverName}}
                        </mat-option>
                    </mat-select>
                    <input matInput *ngIf="layerServer != null" id="newlayerserver2" value="{{layerServer.serverName}}" readonly placeholder="Server">
                </div>
            </mat-form-field>

            <mat-form-field id="formBlock">
                <div class="col-md-4">
                    <mat-select *ngIf="layerFormat == null" id="newLayerFormat" name="newLayerFormat" [(ngModel)] = "newLayerAdmin.layerFormat" required placeholder="Format">
                        <mat-option>image/png</mat-option>
                        <mat-option>image/jpg</mat-option>
                        <mat-option>image/jpeg</mat-option>
                    </mat-select>
                    <input matInput *ngIf="layerFormat != null" id="newLayerFormatText" required value="{{layerFormat}}" readonly placeholder="Format">
                </div>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<md-dialog-actions>
    <button mat-dialog-close id="newLayerClose">Close</button>
    <button mat-button id="newLayerAdd" (click)="addLayer(newLayerAdmin)" [disabled]="!f.valid">Add Layer</button>
</md-dialog-actions>