.group-parent-container {
    position:relative;
    padding:10px 10px 20px 10px;
    display:flex;
    width:83vw;
    overflow:auto;
    max-height:80vh;
}

@media (max-width:1100px) {
    .group-parent-container {
        width:900px;
        position:absolute;
    }
}

.group-list-container {
    background-color:white;
    border:solid black 2px;
    position:relative;
    width:100%;
    height:60vh;
    max-height:60vh;
    overflow:auto;
}

.fa-check, .fa-plus {
    color:green;
}

:host ::ng-deep .mat-pseudo-checkbox {
    background-position: 0;
    background-color: transparent;
    display: none;
}

button {
    background-color:white;
    border:none;
}

.fa-minus {
    color:red;
}

.createGroup {
    margin-left:20px;
}

h4 {
    display:inline-block;
    font-family:'Roboto', sans-serif;
}

mat-slide-toggle {
    margin: 0 10px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #FFBB39;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #FFCD7E
}

.transfer-controls {
    position:relative;
    top:28vh;
    height:10vh;
}

.mat-list-item-focus, .group_arrow {
    background-color: #FFCD7E;
    //background: #FFCA65;
    //background: #FFBB39;
}

.mat-selection-list {
    padding-top:0;
}