// formats the box surrounding hte three elements for groups to be sized and positioned appropriately
.group-parent-container {
    background-color: #7e7e7e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -730px;
    padding: 10px 10px 20px 10px;
    display: flex;
    width: 83vw;
    max-height: 80vh;
}
@media (max-width:1100px) {
    .group-parent-container {
        width: 900px;
        position: absolute;
    }
}

// formats the three containers that include the group, user and member information
.group-list-container {
    background-color: white;
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    overflow: auto;
}

// removes lines below each of the entries to clean things up
:host ::ng-deep .mat-pseudo-checkbox {
    background-position: 0;
    background-color: transparent;
    display: none;
}

// removes the border from the edit and trash can buttons
button {
    background-color: white;
    border: none;
}

// aligns create new.. button properly
.createGroup {
    margin-left: 20px;
}

// formats the 3 headers
h4 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0 10px;
}

// aligns the slider
mat-slide-toggle {
    margin: 0 10px;
}

// positions the two arrow buttons
.transfer-controls {
    position: relative;
    top: 28vh;
    height: 10vh;
}

// formats the arrow buttons to match colors
.group_arrow {
    background-color:transparent;
}
.keyboard_arrow_right, .keyboard_arrow_left {
    color: white;
}