// formatting the size of the box
#pageConfigParent {
    width: 270px;
}

// format the header and close button
#pageConfigHeader {
    width: 100%;
    position: relative;
    top:-10px;
    left:15px;
}
#pageX {
    position:relative;
    right: 20px;
    top: 0px;
}

// spacing between the rows and columns 
.columns {
    top: 3px;
}
#defaultHeader {
    left:30px
}

h4[mat-dialog-title] {
    margin-bottom: 0px;
}

#pageConfigX {
    position: relative;
    left: 55px;
    top: 5px;
}

#pageConfigNewLayer {
    position: relative; 
    left: 15px;
}

#pageConfigLayersColumn {
    position: relative;
    left: 5%;
    width: 65%;
}

#pageConfigDefaultColumn {
    width: 35%;
}

hr {
    margin: 0px 0px 5px 0px;
}
