<div id="pageConfigHeader" class="modal-header">
    <div class="row" style="width:100%">
        <div class="col-md-11">
            <h3 class="modal-title" style="position:relative; right:3.5%">Page: {{pageName}}</h3>
        </div>
        <div class="col-md-1">
            <button md-dialog-close class="close" aria-label="Close" style="position:relative; top:10px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div id="pageConfigBody" class="modal-body">
    <div class="row">
        <table class="table" style="width:90%; margin-left:5%">
            <tr>
                <div class="col-md-3">
                    <h4>Layers</h4>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-8 col-md-offset-4">
                        <h4>Default On</h4>
                    </div>
                </div>
            </tr>
            <tr *ngFor="let userpagelayer of userpagelayers">
                <td>
                    <section class="form-inline" style="width:100%">
                        <div class="form-group" style="width:60%">
                            <label for="exuserpagelayer"><i (click)="deleteUserPageLayer(userpagelayer.ID)" class="fa fa-times" style="position:relative; margin-right:5px;" aria-hidden="true"></i></label>
                            {{userpagelayer.layer_admin.layerName}}
                        </div>
                        <md-checkbox id="exuserpagelayeron" name="exuserpagelayeron" class="form-check-input" style="position:relative; left:20%; border-color: rgba(255,255,255,0); width:5%;" [(ngModel)]="userpagelayer.layerON" (change)="updateUserPageLayer(userpagelayer)"></md-checkbox>
                    </section>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="pageConfigFooter" class="modal-footer">
    <form class="form-inline" #f="ngForm" (ngSubmit)="addUserPageLayer(newuserpagelayer)">
        <div class="row">
            <div class="col-md-4 col-md-offset-2" style="margin-right:25px;">
            
                <md-select placeholder="Layers" [(ngModel)] = "newuserpagelayer.layerAdminID" required name="layer">
                    <md-option [value]="layerpermission.layer_admin['ID']" *ngFor="let layerpermission of layerpermissions">
                        {{layerpermission.layer_admin['layerName']}}
                    </md-option>
                </md-select>
            </div>

            <div class="col-md-2">
                <button md-button style="margin-left:5px;" type="submit" [disabled]="!f.valid">Add</button>
            </div>

            <div class="col-md-2">
                <button md-dialog-close md-button>Close</button>
            </div>
        </div>
    </form>
</div>