/*#pageConfigFooter, #pageConfigHeader {
    background-color: SCSS VARIABLE;
}

#pageConfigBody {
    background-color: SCSS VARIABLE 2;
}*/

#mdSel {
    border:black solid 1px;
    position:relative;
    top:2px;
    right:70%
}

#mdSub, #mdClose {
    position:relative;
    left:10%;
    top:5px; 
}