#pageConfigParent {
    width: 270px;
}

#pageConfigHeader {
    width: 100%;
    position: relative;
}
#pageX {
    position:relative;
    right: -20px;
    top: -10px;
}
.col-sm-9 {
    top: -10px;
}

.columns {
    top: 3px;
}

h4[mat-dialog-title] {
    margin-bottom: 0px;
}

#pageConfigX {
    position: relative;
    left: 55px;
    top: 5px;
}

#pageConfigNewLayer {
    position: relative; 
    left: 15px;
}

#pageConfigLayersColumn {
    position: relative;
    left: 5%;
    width: 65%;
}

#pageConfigDefaultColumn {
    width: 35%;
}

hr {
    margin: 0px 0px 0px 0px;
}

mat-dialog-actions {
    margin-bottom: 0px;
}