<div id="pageConfigHeader" class="modal-header">
    <div class="row" style="width:100%; height:1px; position:relative; bottom:20px;">
        <div class="col-md-10">
            <h3 class="modal-title" style="position:relative; right:3.5%">Page: {{pageName}}</h3>
        </div>
        <div class="col-md-1">
            <button md-dialog-close class="close" aria-label="Close" style="position:relative; top:8px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div id="pageConfigBody" class="modal-body">
    <div class="row">
        <table class="table" style="width:90%; margin-left:3%">
            <tr>
                <div class="col-md-3">
                    <h4>Layers</h4>
                </div>
                <div class="col-md-5 col-md-offset-4">
                    <h4>Default On</h4>
                </div>
            </tr>
            <tr *ngFor="let userpagelayer of userpagelayers">
                <td>
                    <section class="form-inline" style="width:100%">
                        <div class="form-group" style="width:60%">
                            <label for="exuserpagelayer"><i (click)="deleteUserPageLayer(userpagelayer.ID)" class="fa fa-times" style="position:relative; margin-right:5px;" aria-hidden="true"></i></label>
                            {{userpagelayer.layer_admin.layerName}}
                        </div>
                        <!--This checkbox object doesn't work correctly.-->
                        <!--<md-checkbox id="exuserpagelayeron" name="exuserpagelayeron" class="form-check-input" style="position:relative; left:20%; border-color: rgba(255,255,255,0); width:5%;" [(ngModel)]="userpagelayer.layerON" (change)="updateUserPageLayer(userpagelayer)"></md-checkbox>-->
                        <input id="exuserpagelayeron" name="exuserpagelayeron" class="form-check-input" style="position:relative; left:20%; border-color: rgba(255,255,255,0); width:5%;" [(ngModel)]="userpagelayer.layerON" type="checkbox" (change)="updateUserPageLayer(userpagelayer)">
                    </section>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="pageConfigFooter" class="modal-footer">
    <form class="form-inline" #f="ngForm" (ngSubmit)="addUserPageLayer(newuserpagelayer)" style="margin-bottom:0px; position:relative; top:7px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-2" style="margin-right:25px;">
            
                <md-select id="mdSel" placeholder="Layers" [(ngModel)] = "newuserpagelayer.layerAdminID" required name="layer" style="position:relative; bottom:10px;">
                    <md-option [value]="layerpermission.layerAdminID" *ngFor="let layerpermission of layerpermissions">
                        {{layerpermission.layer_admin.layerName}}
                    </md-option>
                </md-select>
            </div>

            <div class="col-md-2">
                <button id="mdSub" md-button type="submit" [disabled]="!f.valid">Add</button>
            </div>

            <div class="col-md-2">
                <button id="mdClose" md-dialog-close md-button>Close</button>
            </div>
        </div>
    </form>
</div>