<mat-expansion-panel *ngIf="visible == true" [expanded]="expanded" (opened)="expanded = true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Automated Vehicle Location
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  {{AVLConfig.selectedVehicle.label}}<br>
  <button *ngIf="AVLConfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary" (click)="goToTab('Vehicles')">Vehicles</button>
  <button *ngIf="AVLConfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary" (click)="goToTab('Track')">Track</button>
  <button *ngIf="AVLConfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary" (click)="goToTab('Diagnostics')">Diagnostics</button>
  <button *ngIf="AVLConfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary" (click)="clearTracks()">Clear</button><br>
  <div *ngIf="tab == 'Vehicles'">
    <div *ngFor="let vehicle of AVLConfig.vehicles">
      <span *ngIf="vehicle == AVLConfig.selectedVehicle" (click)='goToTrack(vehicle)'><b>{{vehicle.label}}</b></span>
      <span *ngIf="vehicle != AVLConfig.selectedVehicle" (click)='goToTrack(vehicle)'>{{vehicle.label}}</span>
    </div>  
  </div>
  <div *ngIf="tab == 'Track'">
    <button mat-button mat-raised-button color="primary" (click)="goToTab('Vehicles')">Today</button>
    <button mat-button mat-raised-button color="primary" (click)="goToTab('Vehicles')">Custom</button>
  </div>
</mat-expansion-panel>
