<mat-expansion-panel *ngIf="visible == true" [expanded]="expanded" (opened)="expanded = true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Automated Vehicle Location
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <span *ngIf="AVLconfig.selectedVehicle.label">{{AVLconfig.selectedVehicle.label}} {{AVLconfig.startDate | date:'shortDate'}} - {{AVLconfig.endDate | date:'shortDate'}}<br></span>
  <button *ngIf="AVLconfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary"
    (click)="goToTab('Vehicles')">Vehicles</button>
  <button *ngIf="AVLconfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary"
    (click)="goToTab('Track')">Track</button>
  <button *ngIf="AVLconfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary"
    (click)="goToTab('Diagnostics')">Diagnostics</button>
  <button *ngIf="AVLconfig.selectedVehicle.id != null" mat-button mat-raised-button color="primary"
    (click)="clearTracks()">Clear</button>
    <div *ngIf="AVLconfig.selectedVehicle.id != null"><br></div>
  <div style="max-height: 60vh; overflow:auto">
    <div *ngIf="AVLconfig.tab == 'Vehicles'">
      <table><tr><td><div *ngFor="let vehicle of AVLconfig.vehicles">
        <span class="hlinkLook" [class.selected]="vehicle == AVLconfig.selectedVehicle" (click)='showTrack(vehicle)'>{{vehicle.label}}</span>
      </div></td><td *ngIf="AVLconfig.selectedVehicle.id != null"><mat-form-field style="width:50%">
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilterStart" matTooltip="Start Date" placeholder="Start" (dateChange) = "dateChange()"
          [(ngModel)]="AVLconfig.startDate"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
      </mat-form-field> <br>
      <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="myFilterEnd" matTooltip="End Date" placeholder="End"
          [(ngModel)]="AVLconfig.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field><br><button mat-icon-button (click)="moveDate(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button> <button mat-icon-button (click)="moveDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></button><br>
      <button mat-button mat-raised-button color="primary" (click)="updateTrack()">Update</button>
      <button mat-button mat-raised-button color="primary" (click)="updateTrack(true)">Today</button><br></td></tr></table>
      
    </div>
    <div *ngIf="AVLconfig.tab == 'Track'"><br>
      <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilterStart" matTooltip="Start Date" placeholder="Start" (dateChange) = "dateChange()"
          [(ngModel)]="AVLconfig.startDate"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
      </mat-form-field> <button mat-icon-button (click)="moveDate(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button> <button mat-icon-button (click)="moveDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></button><br>
      <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="myFilterEnd" matTooltip="End Date" placeholder="End"
          [(ngModel)]="AVLconfig.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>  <br><br>
      <button mat-button mat-raised-button color="primary" (click)="updateTrack()">Update</button>
      <button mat-button mat-raised-button color="primary" (click)="updateTrack(true)">Today</button><br>
     
    </div>
  </div>
</mat-expansion-panel>