// Jack 
// this is the stylizing of the Create Server button within admin settings, servers page

// formatting the size and position of all rows
.row {
    width: 300px;
    position: relative;
    left: 10px;
}

// formatting the positioning of the header
#newServerHeader {
    position: absolute;
    top: -10px;
    left: 5px;
}

// formatting the positioning of the closing 'x'
#closingX {
    position: absolute;
    top: -10px;
    right: -10px;
}

// formatting the coloring of the buttons
#serverAddButton {
    color: white;
    background-color: #646464;
}