<!-- This defines the modal that pops up after a "Create New Server" click event from "Servers" control-->
<div id="newServTitle" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title>Create New Server</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-1">
        <button mat-dialog-close id="newServX" class="close">&times;</button>
    </div>
</div>
<hr>

<mat-dialog-content id="newServBody">
    <form #f="ngForm">
        <mat-form-field>
            <input matInput id="newServName" name="newServName" [(ngModel)]="newserver.serverName" required type="text" placeholder="Server Name">
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-select id="newServType" name="newServType" [(ngModel)]="newserver.serverType" required type="text" placeholder="Server Type">
                <mat-option value="Geoserver">Geoserver</mat-option>
                <mat-option value="PostGIS">PostGIS</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput id="newserverurl" name="newserverurl" [(ngModel)]="newserver.serverURL" required type="text" placeholder="Server URL">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions id="newServFoot" class="row">
    <button mat-dialog-close id="newServClose">Close</button>
    <button mat-button id="newServAdd" (click)="addServer(newserver)" [disabled]="!f.valid">Add Server</button>
</mat-dialog-actions>