<!-- Jack Reyburn -->
<!-- This defines the modal that pops up after a "Create New Server" click event from admin server page -->

<!-- Row that contains page header and closing 'x' -->
<div class="row">
    <!-- page header -->
    <h4 mat-dialog-title id="newServerHeader">Create New Server</h4>

    <!-- closing 'x' -->
    <button mat-dialog-close class="close" id="closingX">&times;</button>
</div>
<hr>

<mat-dialog-content>
    <!-- form with multiple inputs for adding a new server -->
    <form #f="ngForm">
        <!-- server name input box -->
        <mat-form-field class="row">
            <input matInput name="newServName" [(ngModel)]="newserver.serverName" required type="text" placeholder="Server Name">
        </mat-form-field>
        <br>
        <!-- server type select field, drop down -->
        <mat-form-field class="row">
            <mat-select name="newServType" [(ngModel)]="newserver.serverType" required type="text" placeholder="Server Type">
                <mat-option value="Geoserver WMS">Geoserver</mat-option>
                <mat-option value="ArcGIS WMS">ArcGIS WMS</mat-option>
                <mat-option value="ArcGIS WMTS">ArcGIS WMTS</mat-option>
                <!-- <mat-option value="WMS">Generic WMS</mat-option>
                <mat-option value="WMTS">Generic WMTS</mat-option>
                <mat-option value="PostGIS">PostGIS</mat-option> -->
            </mat-select>
        </mat-form-field>
        <br>
        <!-- server URL input box -->
        <mat-form-field class="row">
            <input matInput name="newserverurl" [(ngModel)]="newserver.serverURL" required type="text" placeholder="Server URL">
        </mat-form-field>
    </form>
</mat-dialog-content>

<!-- add new server button only usable after all three boxes have been filled -->
<mat-dialog-actions style="justify-content:left">
    <button mat-button id="serverAddButton" (click)="addServer()" [disabled]="!f.valid">Add Server</button>
</mat-dialog-actions>
