.profile-parent-container {
    width: 180px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -100px;
    background-color: white;
}

h3 {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 55%;
    height: 55%;
    top: 50%;
    left: 50%;
    margin-top: 20px;
}

button {
    margin: 10px 10px 10px 10px;
    background-color: #623c65;
    color: white;
    bottom: -15px;
}

.row {
    margin-left: 3px;
}