<!-- Drop down panel to show the filter options when they are requested -->

<mat-expansion-panel [expanded]=true>
    <mat-expansion-panel-header>

        <!-- panel title -->
        <mat-panel-title>
            Style
        </mat-panel-title>

        <!-- Shows whether a filter is on or off -->
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form *ngIf="mapConfig.currentLayer.layer.layerType == 'MyCube'">    
    <mat-form-field>
    <mat-select placeholder="Color" [(ngModel)]="selectedColor" name="color">
        <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}
        </mat-option>
    </mat-select>
    </mat-form-field>
    <br>
        <mat-form-field>
            <mat-select placeholder="List Title" [(ngModel)]="selectedListTitle" name="listTitle">
                <mat-option *ngFor="let column of columns" [value]="column.field">
                    {{column.field}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle name="showLabel" [(ngModel)]="showLabel" [checked]="showLabel">Label Map</mat-slide-toggle>
        <br>
        <mat-radio-button name="heatmap" [(ngModel)]="HeatMap" (change)="heatMap()">Heat Map</mat-radio-button>
    </form>
    <form>
    <!-- <form *ngIf="mapConfig.currentLayer.layer.layerType != 'MyCube'"> -->
        <mat-slider name="styleopacity" style="width:100%" [max]="100" [step]="1" [value]="100" [thumbLabel]="true" (change)="setOpacity($event)" [(ngModel)]="opacity"></mat-slider><br>Opacity<br>
        {{opacity}}
    </form>
    


    <!-- buttons to apply, clear, save to page or layer, and close -->
    <mat-action-row>
        <button mat-button (click)="applyStyle()">Apply</button>
        <button mat-button (click)="saveToPage()">Save Page</button>
        <button *ngIf="admin" mat-button (click)="saveToLayer()">Save Layer</button>
        <button mat-button (click)="close()">X</button>
    </mat-action-row>
</mat-expansion-panel>
