#pageHeader {
    width:100%;
    position:relative;
    bottom:20px;
    margin-bottom:0px;
}

#pageX {
    position:relative;
    left:20px;
    top:3px;
}

#pageContentTitleBar {
    border-bottom:solid black 1px;
}

#exPageNameCol {
    position:relative;
    top:2px;
}

#exPageActiveCol {
    position:relative;
    left:7px;
    top:3px;
}

#exPageDefaultCol {
    position:relative;
    left:20px;
    top:3px;
}

#exPageOrderCol {
    position:relative;
    left:5px;
    top:2px;
}

#pageBodyRows {
    border-bottom:solid black 1px;
}

hr {
    margin: 0px 0px 5px 0px;
}

#pageClose {
    position:relative;
    left:15px;
}

.newPageInputArea {
    margin-top:3%;
}

h4[mat-dialog-title] {
    margin-bottom:0px;
}