#pageHeader {
    height: 0px;
}

#pageTitle {
    position: relative;
    bottom: 20px;
    right: 15px;
}

#pageX {
    position: relative;
    bottom: 15px;
}

#pageFooter {
    height: 0px;
}

#exuserpageactive {
    position: relative;
    right: 20px;
}

#exuserpagedefault {
    position: relative;
    margin-right: 45px;
    top:3px;
}

#newuserpage {
    border-color: rgba(255,255,255,0); 
    border:ridge; 
    border-width:2px; 
    border-radius:4px; 
    width:45%; 
    position:relative; 
    left:31px; 
    top:10px; 
    height:34px
}

#exuserpage, #newUserPage {
    position:relative;
    margin-bottom:5px;
    width:150px;
    height:34px;
}

#exuserpage {
    right:30px;
}

#x {
    position:relative;
    right:40px;
    bottom:5px;
}

#orderUp, #orderDown {
    position:relative;
    bottom:3px;
}

#pageFooter {
    position:absolute;
    width:400px;
}

#newUserPage {
    position:relative;
    margin-top:25px;
}

#userpageHelpBlock {
    position:relative; 
    right:240px;
    margin-top:100px;
    width:100%;
}

#pageClose {
    position:relative;
    top:10px;
    left:170px;
}