#pageHeader {
    width:100%;
    height:0px;
    position:relative;
    bottom:20px;
}

#pageX {
    position:relative;
    left:20px;
    top:3px;
}

#pageDelPage {
    position:relative;
    right:4%;
}

#exPage {
    width:45%;
    padding-right:30px;
    position:relative;
    right:4%;
}

#exPageActive {
    padding-right:50px;
}

#exPageDefault {
    padding-right:45px;
}