<div id="mapid"></div>

<div class="container-fluid pull-right">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <ngb-tabset type="pills" activeId="closeTab" class="btn btn-secondary" style="background: rgba(255, 255, 255, 0.5)">
                <ngb-tab title="{{currPage}}">
                    <ng-template ngbTabContent>
                        <br>
                        <div class="col-md-6" style="position:relative; right:14%">
                            <h5>Pages</h5>
                        </div>
                        <br><hr>
                        <div *ngFor="let userpage of userpages" style="position:relative; left:4%" data-toggle="buttons">
                            <label (click)="setUserPageLayers(userpage)" style="margin-right:3px; margin-bottom:3px;" class="btn btn-secondary pull-left">{{userpage.page}}</label>    
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="{{currPage}} Layers">
                    <ng-template ngbTabContent>
                        <form #f="ngForm">
                            <br>
                            <div class="col-md-6" style="position:relative; right:8%">
                                <h5>Active Layer</h5>
                            </div>
                            <div class="col-md-6" style="position:relative; right:8%">
                                <h5>{{currPage}} Layers</h5>
                            </div>
                            <br><hr>

                            <ul *ngFor="let userpagelayer of userpagelayers" data-toggle="buttons">
                                <input class="pull-left" type="radio" [(ngModel)]="currLayer" [value]="userpagelayer" name="currlayerradio" (click)="setCurrentLayer(userpagelayers.indexOf(userpagelayer), userpagelayer, userpagelayer.layerShown)">
                                <div style="margin-left:45%;padding-right:70%">
                                    <button class="btn btn-secondary push-right" (click)="toggleLayers(userpagelayers.indexOf(userpagelayer), userpagelayer, userpagelayer.layerShown)" [class.active]="userpagelayer.layerShown">
                                        {{userpagelayer.layer_admin.layerName}}
                                    </button>
                                </div>
                            </ul>
                        </form>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="{{currLayerName}}" [disabled]="noLayers">
                    <ng-template ngbTabContent>
                        <div>
                            <br>
                            <div class="col-md-4">
                                <h5>Layer Settings</h5>
                            </div>
                            <br><hr>

                            <div class="col-md-1">
                                <b>Default On: </b>
                            </div>

                            <div class="col-md-1 col-md-offset-9">
                                <input id="currLayerON" class="form-check-input" style="position:relative; bottom:3px;" [(ngModel)]="currLayer.layerON" type="checkbox" (change)="updateUserPageLayer(currLayer)">
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Modules" [disabled]="true">
                    <ng-template ngbTabContent>
                        <p>Layer edit content.</p>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="closeTab">
                    <ng-template ngbTabTitle><i class="fa fa-times" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>