#mapid {
    position:absolute;
    top:43px;
    bottom:0;
    width:100%;
    z-index:-1;
}

.tool-container {
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 500px;
    z-index: 1;
}

.selected-icon {
    color:white;
    background: #000000
}
.selected {
    color:white;
    background: #000000
}

.featurelist {
    position: relative;
    max-width: 300px;
    overflow-y: auto;
    max-height: 550px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

#dropdownMenu1, #dropdownMenu2 {
    border: 2px solid rgb(26, 117, 255);
    margin: 25px 15px 0 0;
    position:absolute;
    top:26px;
    height:30px;
    right:100px;
    background-color: whitesmoke;
    -webkit-text-fill-color: black;
}

#dropdownMenu1 {
    top:40px;
    right:180px;
}

#ddM1, #ddM2 {
    position:absolute;
    top:80px;
    right:60px;
}

#ddM1 {
    top:95px;
    right:145px;
}

p {
    font-size: 102;
}

.pull-right {
    padding:0;
    z-index: 0;
}

#layerExpansion {
    margin-top:0;
}


.leaflet-container.default-enabled {
    cursor:default
}

/*any time the cursor goes over the added current layer, enable pointer*/
.leaflet-container.pointer-enabled {
    cursor:pointer
}

.leaflet-container.grabbing-enabled {
    cursor:grabbing
}

.leaflet-container.grab-enabled {
    cursor:grab
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    overflow: auto;
}

span.layer-name {
    white-space: nowrap; 
    overflow: auto;
    text-overflow: ellipsis; 
}
  
.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

.mat-expansion-panel {
    margin:0;
}

.custom-class {
    background: #000000;
}

app-notification {
    margin:0;
    width:300px;
}

td {
    text-align: left;
}