#mapid {
    position:absolute;
    top:43px;
    bottom:0;
    width:100%;
    z-index:-1;
  }

#dropdownMenu1, #dropdownMenu2 {
    border: 2px solid rgb(26, 117, 255);
    margin: 25px 15px 0 0;
    position:absolute;
    top:26px;
    height:30px;
    right:100px;
    background-color: whitesmoke;
    -webkit-text-fill-color: black;
}

#dropdownMenu1 {
    top:40px;
    right:180px;
}

#ddM1, #ddM2 {
    position:absolute;
    top:80px;
    right:60px;
}

#ddM1 {
    top:95px;
    right:145px;
}

p {
    font-size: 102;
}


.leaflet-container.default-enabled {
    cursor:default
}

/*any time the cursor goes over the added current layer, enable pointer*/
.leaflet-container.pointer-enabled {
    cursor:pointer
}

.leaflet-container.grabbing-enabled {
    cursor:grabbing
}

.leaflet-container.grab-enabled {
    cursor:grab
}