#layerPermNewUser {
    height: 30px;
}

#delUserPerm {
    margin-right:10px;
    position: relative;
    right: 10px;
}

h4 {
    position: relative;
    bottom: 10px;
}

#permHeader {
    position:relative;
    height:0px;
    margin-bottom:20px;
}

#exitMod {
    position:relative;
    
}

#layerPermX {
    position:relative;
    bottom:10px;
}

#layerPermTitle {
    position:relative;
    bottom:15px;
}

mat-checkbox {
    margin-right:10px;
}

hr {
    margin:0;
    padding:0;
    border-color: #8d8d8d;
}