<div id="permHeader" class="modal-header">
    <div class="row" style="width:100%">
        <div class="col-md-10">
            <h4 class="modal-title">{{layerName}} Permissions</h4>
        </div>
        <div class="col-md-2">
            <button id="exitMod" type="button" class="close" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="modal-body">
    <h5>Current Permissions</h5><br>
    <form class="form-inline" #f="ngForm" *ngFor="let layerPermission of layerPermissions">
        <div class="form-group" style="margin-bottom:5px;">
            <i id="delUserPerm" (click)="deleteLayerPermission(layerPermission.ID)" class="fa fa-times" aria-hidden="true"></i>
            
            <!--Change this to bold text labels, not controls-->
            <select id="user" name="user" style="margin-right:5px;" class="form-control" [(ngModel)] = "layerPermission.userID" required type="text" (blur)="updateLayerPermission(layerPermission)"  >
                <option [value]="user.ID" *ngFor="let user of users">
                    {{user.firstName}} {{user.lastName}}
                </option>
            </select>
            <input type="checkbox" name="layerPermissionEdit" [(ngModel)]="layerPermission.edit" (change)="updateLayerPermission(layerPermission)"> Edit
        </div>
    </form>
</div>

<div class="modal-footer">
    <h5>New Permission</h5>

    <form id="permForm" class="form-inline" #f="ngForm" (ngSubmit)="addLayerPermission(newLayerPermission)">
        <div id="permFormGroup" class="form-group">
            <label for="user" style="margin-right:10px">User</label>
            <select id="user" name="user" class="form-control" [(ngModel)] = "newLayerPermission.userID" required type="text">
                <option [value]="user.ID" *ngFor="let user of users">
                    {{user.firstName}} {{user.lastName}}
                </option>
            </select>
            <input type="checkbox" name="newLayerPermissionEdit" style="margin-left:46px; position:relative; bottom:3px" [(ngModel)]="newLayerPermission.edit"> Edit 
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <button type="button" class="btn btn-secondary" (click)="dialog.closeAll()">Close</button>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <button class="btn btn-outline-primary" type="submit" [disabled]="!f.valid">Add Permission</button>
            </div>
        </div>
    </form>
</div>