@import '../../styles/main.less';

#place-input {
    margin: 15px 0 0 15px;
    width: 300px;
    height: 35px;
    border: 2px solid rgb(46, 117, 255, 0.7);
    font-size: 16px;
    font: rgb(142, 142, 142);
}

#goto {
    margin: 15px 0 0 320px;
    background-color: rgb(46, 117, 255);
    .map-button
}

//margin: 15px 0 0 265px; place-input
//margin: 15px 0 0 580px; goto