<div class="row" style="z-index:0; position:absolute;top:50px">
    <div class="col-md-6">
        <input style="position:absolute; left:265px" id="place-input" class="on-map" type="text" placeholder="Enter a place to go..."
        [(ngModel)]="address" (keyup.enter)="goto()">

        <button style="position:absolute; left:265px" id="goto" class="btn btn-primary on-map" href="#" title="Goto Place" (click)="goto()">
            <i class="fa fa-arrow-right fa"></i>
        </button>
    </div>
</div>
