<!-- This defines the modal that pops up after a "Create New Layer" click event from "Layers" control-->
<div id="newLayerHeader" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title>{{name}}</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <button mat-dialog-close id="newLayerX" class="close" aria-label="Close">&times;</button>
    </div>
</div>
<hr>

<mat-dialog-content>
    <form #f="ngForm">
        <!--Row 1-->
        <div class="row" style="width:100%">
            <mat-form-field id="nameBlock">
                <input matInput id="newlayername" name="newlayername" value="{{layerName}}" required [(ngModel)]="newLayer.layerName" placeholder="Name">
            </mat-form-field>
            
            <mat-form-field id="descBlock">
                <input matInput id="newlayerdescription" name="newlayerdescription" [(ngModel)]="newLayer.layerDescription" placeholder="Description">
            </mat-form-field>      
        </div>
        <br>

        <!--Row 2-->
        <div class="row" style="width:100%">
            <mat-form-field id="idBlock">  
                <input matInput *ngIf="layerServer == null" id="newlayerident" name="newlayerident" [(ngModel)]="newLayer.layerIdent" placeholder="Identity">
                <input matInput *ngIf="layerServer != null" id="newlayerident2" value="{{layerIdent}}" readonly placeholder="Identity">
            </mat-form-field>

            <!--Bug: choices are not working. mat-form-field is probably going to need to be split. -11/24/17-->
            <mat-form-field id="typeBlock">
                <mat-select *ngIf="layerType == null" id="newlayertype" value="{{layerType}}" name="newlayertype" [(ngModel)]="newLayer.layerType" required placeholder="Layer Source Type">
                    <mat-option value="PostGIS">PostGIS</mat-option>
                    <mat-option value="MapServer">MapServer</mat-option>
                    <mat-option value="WMS">WMS</mat-option>
                    <mat-option value="WMTS">WMTS</mat-option>
                    <mat-option value="KML-Link">KML-Link</mat-option>
                    <mat-option value="KML-Drive">KML-Drive</mat-option>
                    <mat-option value="GeoJSON">GeoJSON</mat-option>
                </mat-select>
                <input matInput *ngIf="layerType != null" id="newlayertype2" value="{{layerType}}" readonly placeholder="Layer Source Type">
            </mat-form-field>
        </div>
        <br>

        <!--Row 3-->
        <div class="row" style="width:100%">
            <mat-form-field id="serviceBlock"> 
                <input matInput *ngIf="layerServer == null" id="newlayerservice" name="newlayerservice" [(ngModel)]="newLayer.layerService" placeholder="Service">
                <input matInput *ngIf="layerServer != null" id="newlayerident2" value="{{layerService}}" readonly placeholder="Service">
            </mat-form-field>

            <mat-form-field id="geomBlock">
                <mat-select id="newlayergeom" name="newlayergeom" [(ngModel)]="newLayer.layerGeom" required placeholder="Geometry">
                    <mat-option value="Point">Point</mat-option>
                    <mat-option value="Polyline">Polyline</mat-option>
                    <mat-option value="Polygon">Polygon</mat-option>
                    <mat-option value="Coverage">Coverage</mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
        <br>

        <!--Row 4-->
        <div class="row" style="width:100%">
            <mat-form-field id="servBlock">
                <mat-select *ngIf="layerServer == null" id="newLayerServer" name="newLayerServer" [(ngModel)]="newLayer.serverID" required placeholder="Server">
                    <mat-option [value]="server.ID" *ngFor="let server of servers">
                        {{server.serverName}}
                    </mat-option>
                </mat-select>
                <input matInput *ngIf="layerServer != null" id="newlayerserver2" value="{{layerServer.serverName}}" readonly placeholder="Server">
            </mat-form-field>

            <mat-form-field id="formBlock">
                <mat-select *ngIf="layerFormat == null" id="newLayerFormat" name="newLayerFormat" [(ngModel)]="newLayer.layerFormat" required placeholder="Format">
                    <mat-option value="image/png">image/png</mat-option>
                    <mat-option value="image/jpg">image/jpg</mat-option>
                    <mat-option value="image/jpeg">image/jpeg</mat-option>
                </mat-select>
                <input matInput *ngIf="layerFormat != null" id="newLayerFormatText" required value="{{layerFormat}}" readonly placeholder="Format">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-dialog-close id="newLayerClose">Close</button>
    <button mat-button id="newLayerAdd" (click)="addLayer(newLayer)" [disabled]="!f.valid">Add Layer</button>
</mat-dialog-actions>