* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

h1 {
    margin-bottom:8%;
    margin-top:4%;
    font-family:'Raleway', sans-serif;
    text-align: center;
}

html, body {
    height:100vh;
    width:100vw;
}

.login-parent {
    width:100vw;
    height:100vh;
    background-image: url("../../assets/blur2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.login-box {
    position:relative;
    top:20vh;
    width:300px;
    height:280px;
    //border: solid 2px #d1d1d1;
    margin: 0 40vw;
}

// .login-body {
//     width:20vw;
//     margin:0;
// }

mat-form-field, button {
    width: 90%;
    margin: 0 5% 0 5%;
    //margin-bottom:1vh;
}

button {
    margin-top:9%;
}





















// body, html {
//     height: 100%;
//     color: black;
//     background-color: black;
// }

// .bg {
//     color: black;
// }


// h1 {
//     text-align: center;
//     font-family: "Calibri", "sans";
//     color: darkblue;
// }

// h3 {
//     font: Verdana;
//     padding-left: 50px;
//     padding-bottom: 5px;
//     padding-right: 60px;
//     text-align: center;
// }

// .panel-login {
//     border-color:lightblue;
//     width: 500px;
//     border-width: 7px;
//     border-radius: 7px;
//     background-color: whitesmoke;
// }

// .form-group {
//     width: 460px;
//     padding-left: 50px;
//     padding-bottom: 5px;
// }

// .form-group.label {
//     color: darkblue;
// }

// button {
//     background-color: lightblue;
//     color: darkblue;
// }

// hr {
//     border-width: 3px;
//     border-radius: 3px;
//     border-color: lightblue;
//     width: 490px;
//     margin-left: 15px;
// }

// #errMessage {
//     width: 80%;
//     text-align: center;
// }