<div class="login-parent">
    <mat-card class="login-box">
        <div class="login-head">
            <h1>Cube</h1>
        </div>
        <div class="login-body">
            <mat-form-field>
                <input matInput type="text" autofocus="autofocus" name="username" [(ngModel)]="model.username" #username="ngModel" required email placeholder="Username"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput id="loginPassword" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password" />
            </mat-form-field>
            <button mat-button id="loginSubmit" (click)="login()" [disabled]="loading" class="btn btn-primary">Login</button>
        </div>
    </mat-card>
</div>