// #oldPw, #newPw, #confPw {
//     position: relative;
//     width: 15%;
//     height: 34px;
//     left: 170px;
//     bottom: 25px;
// }

// #subPw {
//     position: relative;
//     left: 19%;
// }

.pwBox {
    width:30%;
    margin:15px 0 0 30px;
}

.row {
    width:80%;
    margin-bottom:10px;
}