html, body {
    height: 100vh;
    width: 100vw;
}

.password-parent-container {
    width: 300px;
    height: 360px;
    position: relative;
    top: 20vh;
    margin: 0 40vw;
    background-color: white;
    border-radius: 15px;
}

h3 {
    padding-top: 10px;
    text-align: center;

}

mat-form-field, button {
    width: 90%;
    margin: 0 5% 0 5%;
}
