<!-- Box containing entry fields for a password change -->
<div class="password-parent-container">
    <h3>Password Change</h3>
    <form #f="ngForm">
        <!-- Current password entry box -->
        <mat-form-field>
            <input matInput autofocus="autofocus" name="oldPw" id="oldPw" type="password" [(ngModel)]="oldPw" class="form-control" placeholder="Current password"
                required/>
        </mat-form-field>

        <!-- New password entry box -->
        <mat-form-field>
            <input matInput name="newPw" id="newPw" type="password" [(ngModel)]="newPw" class="form-control" placeholder="New password"
                required/>
        </mat-form-field>

        <!-- Confirm new password entry box -->
        <mat-form-field>
            <input matInput name="confPw" id="confPw" type="password" [(ngModel)]="confPw" class="form-control" placeholder="Confirm new password"
                required/>
        </mat-form-field>
    </form>
    <!-- Submit button  -->
    <button mat-button style="color:white; background-color:#623c65" id="subPw" (click)="changePW()" class="btn btn-primary"
        [disabled]="!f.valid">Submit</button>
</div>