
<div>
    <p style="position:relative; left:25px; top:15px">Old password:</p>
</div>
<div>
    <input matInput id="oldPw" type="password" [(ngModel)]="oldPw" class="form-control" required/>
</div>
<div>
    <p style="position:relative; left:20px; top:10px">New password:</p>
</div>
<div>
    <input matInput id="newPw" type="password" [(ngModel)]="newPw" class="form-control" required/>
</div>
<div>
    <p style="position:relative; left:20px; top:10px">Confirm new password:</p>
</div>
<div>
    <input matInput id="confPw" type="password" [(ngModel)]="confPw"class="form-control" required/>
</div>
<button id="subPw"(click)="changePW()">Submit</button>