
<div>
    <p style="position:relative; left:25px; top:15px">Old password:</p>
</div>
<div>
    <input id="OldPw" type="password" style="position:relative; width:30%; height:34px; left:125px; bottom:20px" [(ngModel)]="oldPw" class="form-control" required/>
</div>
<div>
    <p style="position:relative; left:20px; top:10px">New password:</p>
</div>
<div>
    <input id="NewPw" type="password" style="position:relative; width:30%; height:34px; left:125px; bottom:25px" [(ngModel)]="newPw"class="form-control" required/>
</div>
<button (click)="changePW()">Submit</button>