// Jack Reyburn
// Formats the server page

// colors the header row
mat-header-row {
    background-color: #7e7e7e;
}

// COlors the headers white
mat-table mat-header-row mat-header-cell {
    color: white;
}

#createServerButton {
    border:1px solid white;
}

:focus {
    outline: none;
}

//formats the table including size and positioning
.mat-table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -475px;

    overflow:auto;
    max-height:80vh;
}
@media (min-width:1200px) {
    .mat-form-field, .mat-table {
        width:1100px;
    }
}
@media (max-width:1284px) {
    .mat-form-field, .mat-table {
        width:800px;
    }
}

// formats the rows and columns 
.row {
    display:flex;
    flex-direction:column;
    position:relative;
    left:15px;
}

// removes the lines below each data entry 
:host ::ng-deep .mat-input-underline {
    background-position: 0;
    background-color: transparent;
    display: none;
}

// formats the columns to fit appropriately
mat-table mat-header-row mat-header-cell.server-lg-head {
    max-width: 42%;
    margin-left: 4%;
}
mat-table mat-row mat-cell.server-lg-cell {
    max-width: 39%;
    margin-left: 4%;
}
mat-table mat-row mat-cell.server-md-cell, mat-table mat-header-row mat-header-cell.server-md-head {
    max-width: 18%;
}
mat-table mat-row mat-cell.server-sm-cell, mat-table mat-header-row mat-header-cell.server-sm-head {
    max-width: 10%;
}