h3, h4 {
    color: black;
}

hr {
    width:100%; 
    position:relative; 
    top:25px; 
    border-width:3px; 
    border-color:black;
}

td {
    position: relative;
    margin-bottom: 5px;
}

#exserverurl {
    width:75%;
}

#btnOpenDelLayerServer {
    position:relative; 
    margin-right:5px
}

#serverHeaderRow {
    position:relative; 
    top:10px; 
    left:10px;
}

#serverServersRow {
    position:relative; 
    left:3%; 
    width:100%; 
    top:15px;
}

/////////////////////////

.row {
    display:flex;
    flex-direction:column;
    position:relative;
    left:15px;
}

.mat-form-field {
    width:80%
}

.mat-table {
    width:100%;
    overflow:auto;
    max-height:80vh;
}

:host ::ng-deep .mat-input-underline {
    background-position: 0;
    background-color: transparent;
    display: none;
}