<!-- Jack Reyburn -->
<!-- Admin settings server page -->

<!-- container box -->
<div class="server-parent-container">
    <div class="row">
        <!-- creates the table to contain all of the server information -->
        <mat-table id="serverDataTable" #table [dataSource]="dataSource">

            <!-- first column containing server ID number -->
            <ng-container matColumnDef="serverID">
                <!-- header -->
                <mat-header-cell class="server-sm-head" *matHeaderCellDef><Strong> ID </Strong></mat-header-cell>
                <mat-cell class="server-sm-cell" *matCellDef="let row">
                    <b>{{row.currentData.ID}}</b>
                </mat-cell>
            </ng-container>

            <!-- second column containing the instance name of the server -->
            <ng-container matColumnDef="serverName">
                <!-- header -->
                <mat-header-cell class="server-md-head" *matHeaderCellDef><Strong> Instance Name </Strong></mat-header-cell>
                <mat-cell class="server-md-cell" *matCellDef="let row">
                    <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['serverName']" [readonly]="!row.editing" [(ngModel)]="row.currentData.serverName">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- third column containing the server type -->
            <ng-container matColumnDef="serverType">
                <!-- header -->
                <mat-header-cell class="server-sm-head" *matHeaderCellDef><Strong> Server Type </Strong></mat-header-cell>
                <mat-cell class="server-sm-cell" *matCellDef="let row">
                    <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['serverType']" [readonly]="!row.editing" [(ngModel)]="row.currentData.serverType">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- fourth column containing the URL of the server -->
            <ng-container matColumnDef="serverURL">
                <!-- header -->
                <mat-header-cell class="server-lg-head" *matHeaderCellDef><Strong> URL </Strong></mat-header-cell>
                <mat-cell class="server-lg-cell" *matCellDef="let row">
                    <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['serverURL']" [readonly]="!row.editing" [(ngModel)]="row.currentData.serverURL">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
        
            <!-- fifth column containing buttons to view and edit layers, edit the attributes of the server, and delete hte server -->
            <ng-container matColumnDef="actionsColumn">
                <mat-header-cell class="server-md-head" *matHeaderCellDef>
                    <button mat-button id="createServerButton" (click)="openServerNew()"><strong>Create Server</strong></button>
                </mat-header-cell>
                <mat-cell class="server-md-cell" *matCellDef="let row">
                    <button mat-button (click)="openLayers(row.currentData.serverName)">
                        Layers
                    </button>
                    <button *ngIf="!row.editing" mat-icon-button style="color:#7e7e7e" title="Edit Details" focusable="false" (click)="openDetails(row.currentData.ID, row.currentData.serverName)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button mat-icon-button style="color:#7e7e7e" title="Delete Server" focusable="false" (click)="openConfDel(row.currentData)">
                        <i class="fa fa-trash mat-icon"></i>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="serverColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: serverColumns"></mat-row>
        </mat-table>
    </div>
</div>

<!-- 
    Everything below this point needs to be implemented for the layers button
 -->

<!-- <div *ngIf="WMSLayers.length > 0" class="row">
        WMS Layers
    <div *ngFor="let WMSLayer of WMSLayers">
        <button mat-button (click)="createGeoserverLayer(WMSLayer)">{{WMSLayer.Title}}</button>
    </div>
</div>

<div *ngIf="displayGeoserverLayers" style="position:relative; top:25px; margin-bottom:10px;">
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Name</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>
        </tr>
        <tr *ngFor="let layer of folderArray">
            <td><h4>{{layer}}</h4></td>
            <td><h4>{{formatArray[folderArray.indexOf(layer)]}}</h4></td>
            <td><input type='radio' name="create" value="toCreate"></td>
            <td><button mat-button (click)="createGeoserverLayer(layer)">Create Layer</button></td>
        </tr>
    </table>
</div>

<div *ngIf="displayFolders" style="position:relative; top:25px; margin-bottom:10px;">
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Folders</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>
        </tr>
        <tr *ngFor="let layer of folderArray">
            <td><h4><button mat-button (click)="WMSRequest(layer, 'service')">{{layer}}</button></h4></td>
            <td><h4>Format</h4></td>
            <td><input type='radio' name="create" value="toCreate"></td>
        </tr>
    </table>
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Services</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>
        </tr>
        <tr *ngFor="let service of serviceArray">
            <td><h4><button mat-button (click)="WMSRequest(service.name, 'layer')">{{service.name}}</button></h4></td>
            <td><h4>Format</h4></td>
            <td><input type='radio' name="create" value="toCreate"></td>
        </tr>
        <tr *ngFor="let layer of layerArray">
                <th style="width:40%"><h2>Layers</h2></th>
                <th style="width:40%"><h2>Format</h2>   
                <td><h4>{{layer.name}}</h4></td>
                <td><h4>Format</h4></td>
                <td><input type='radio' name="create" value="toCreate"></td>
                <td><button mat-button (click)="createLayer(layerArray.indexOf(layer), layer.name)">Create Layer</button></td>
        </tr>
    </table>
</div> -->
