<div id="serverHeaderRow" class="row">
    <div class="col-md-3">
        <div class="col-md-8 col-md-offset-1" style="position:relative; left:1%">
            <h4>Instance Name</h4>
        </div>
    </div>

    <div class="col-md-2" style="position:relative; right:5.5%">
        <h4>Server Type</h4>
    </div>

    <div class="col-md-3" style="position:relative; right:5.5%">
        <h4>URL</h4>
    </div>

    <div class="col-md-1 col-md-offset-1">
        <button mat-button id="createServerBtn" (click)="openServerNew()">Create Server</button>
    </div>
</div>

<div id="serverServersRow" class="row">
    <form style="width:100%" class="form-inline" #e="ngForm" *ngFor="let server of servers">
        <i id="btnOpenDelLayerServer" class="fa fa-times" (click)="openConfDel(server)"></i>
        <mat-form-field class="col-md-2">
            <input matInput id="exservername" style="width:100%" ngModel required name="exservername" title="{{server.serverName}}" [(ngModel)]="server.serverName" (blur)="updateServer(server)">
        </mat-form-field>
        <mat-form-field class="col-md-2">
            <mat-select id="exservertype"  ngModel required name="exservertype" [(ngModel)]="server.serverType" (blur)="updateServer(server)">
                <mat-option value="Geoserver">Geoserver</mat-option>
                <mat-option value="PostGIS">PostGIS</mat-option>
                <mat-option value="ArcGIS">ArcGIS</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-5">
            <input matInput id="exserverurl" ngModel required name="exserverurl" title="{{server.serverURL}}" [(ngModel)]="server.serverURL" (blur)="updateServer(server)">
        </mat-form-field>
        <div class="col-md-1">
            <button mat-button id="getRequestBtn" (click)="getRequest(server)">Layers</button>
        </div>
    </form>
    <br>
</div>
<div style="position:absolute; height:25px;"></div>

<hr>
<!--<div *ngIf="displayLayers" class="row" style="position:relative; top:25px; margin-bottom:10px;">
    <div class="col-md-3 col-md-offset-2" style="position:relative; left:2%">
        <h3>Name</h3>
    </div>
    <div class="col-md-3" style="position:relative; left:1%"> 
        <h3>Format</h3>
    </div>
    <div>
        <h3></h3>
    </div>
</div>

<div *ngFor="let layer of nameArray" style="position:relative; top:20px; left:10px;">
    <div *ngIf="displayLayers">
        <div class="row" style="margin-bottom:5px">
            <div class="col-md-3 col-md-offset-2">
                <h5>{{layer}}</h5>
            </div>
            <div class="col-md-1"> 
                <h5>{{formatArray[nameArray.indexOf(layer)]}}</h5>
            </div>
        </div>
    </div>
</div>-->
<div *ngIf="displayGeoserverLayers" style="position:relative; top:25px; margin-bottom:10px;">
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Name</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <!--<th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>-->
        </tr>
        <tr *ngFor="let layer of folderArray">
            <td><h4>{{layer}}</h4></td>
            <td><h4>{{formatArray[folderArray.indexOf(layer)]}}</h4></td>
            <!--<td><input type='radio' name="create" value="toCreate"></td>-->
            <td><button mat-button (click)="createGeoserverLayer(layer)">Create Layer</button></td>
        </tr>
    </table>
</div>

<div *ngIf="displayFolders" style="position:relative; top:25px; margin-bottom:10px;">
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Folders</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <!--<th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>-->
        </tr>
        <tr *ngFor="let layer of folderArray">
            <td><h4><button mat-button (click)="WMSRequest(layer, 'service')">{{layer}}</button></h4></td>
            <td><h4>Format</h4></td>
            <!--<td><input type='radio' name="create" value="toCreate"></td>-->
        </tr>
    </table>
    <table style="width:80%; position:relative; left:10%">
        <tr style="width:100%;">
            <th style="width:40%"><h2>Services</h2></th>
            <th><h2 style="position:relative; top:7px">Format</h2><button type="button" class="close" aria-label="Close" style="position:relative; color:black; left:30%; bottom:16px;" (click)="clearArrays()">&times;</button></th>
            <!--<th><h3 style="position:relative; top:7.5px;">Create Layer</h3></th>-->
        </tr>
        <tr *ngFor="let service of serviceArray">
            <td><h4><button mat-button (click)="WMSRequest(service.name, 'layer')">{{service.name}}</button></h4></td>
            <td><h4>Format</h4></td>
            <!--<td><input type='radio' name="create" value="toCreate"></td>-->
        </tr>
        <tr *ngFor="let layer of layerArray">
                <th style="width:40%"><h2>Layers</h2></th>
                <th style="width:40%"><h2>Format</h2>   
                <td><h4>{{layer.name}}</h4></td>
                <td><h4>Format</h4></td>
                <!--<td><input type='radio' name="create" value="toCreate"></td>-->
                <td><button mat-button (click)="createLayer(layerArray.indexOf(layer), layer.name)">Create Layer</button></td>
        </tr>
    </table>
</div>

    