<div class="instance-parent-container">
    <div class="row">
        <!-- table for storing and editing all instance information in house -->
        <table mat-table id="instanceDataTable" #table [dataSource]="dataSource">

            <!-- first column used to contain instance id numbers -->
            <ng-container matColumnDef="instanceID">
                <mat-header-cell class="instance-sm-head" *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell class="instance-sm-cell" *matCellDef="let row">
                    <b>{{row.ID}}</b>
                </mat-cell>
            </ng-container>

            <!-- second column containing the name of the instance -->
            <ng-container matColumnDef="name">
                <mat-header-cell class="instance-md-head" *matHeaderCellDef> Instance Name </mat-header-cell>
                <mat-cell class="instance-md-cell" *matCellDef="let row">
                    {{row.name}}
                    <!-- <mat-form-field #input style="width:80%">
                        <input matInput [formControl]=" row.validator.controls['name']" [readonly]="!row.editing"
                        [(ngModel)]="row.name">
                    </mat-form-field> -->
                </mat-cell>
            </ng-container>

            <!-- fourth column containing type -->
            <ng-container matColumnDef="description">
                <mat-header-cell class="instance-md-head" *matHeaderCellDef> Type </mat-header-cell>
                <mat-cell class="instance-md-cell" *matCellDef="let row">
                    {{row.description}}
                    <!-- <mat-form-field>
                        <input matInput [formControl]="row.validator.controls['description']" [readonly]="!row.editing"
                            [(ngModel)]="row.description">
                    </mat-form-field> -->
                </mat-cell>
            </ng-container>

            <!-- fifth and final column used for containing button to add new instances as well as
            being able to edit current instances or delete them -->
            <ng-container matColumnDef="actionsColumn">
                <mat-header-cell class="instance-xlg-head" *matHeaderCellDef>
                    <button style="border:1px solid white" mat-button id="createInstnaceBtn" (click)="createInstance()">
                        <a style="color:white">Create Instance</a>
                    </button>
                    <button disabled style="border:1px solid white" mat-button id="createMyCubeBtn"
                        (click)="createMyCube()">
                        <a style="color:white">Set Up Module</a>
                    </button>
                </mat-header-cell>
                <mat-cell class="instance-xlg-cell" *matCellDef="let row">
                    <button mat-button [matMenuTriggerFor]="menu2">
                        <a>Options</a>
                    </button>
                    <mat-menu #menu2="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item id="exinstanceperm"
                            (click)="openPermission(row.ID, row.name)">Permissions</button>
                        <button mat-menu-item id="openstyle"
                            (click)="openSettings(row.ID, row.name)">Settings</button>
                    </mat-menu>
                    <span>
                        <button mat-icon-button style="color:#7e7e7e" title="Edit Details" focusable="false"
                            (click)="openDetails(row.ID, row.name)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </span>
                    <span>
                        <button mat-icon-button style="color:#7e7e7e" title="Delete Instance" focusable="false"
                            (click)="confirmDelete(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="instanceColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: instanceColumns"></mat-row>
        </table>
    </div>

</div>