<!-- Jack Reyburn -->
<!-- formats the modal from the change avatar button -->

<!-- <div class="change-picture-parent-container">
    <div class="change-picture-header"> -->
        <!-- header and closing x -->
        <!-- <h4>
            <strong>Change Avatar</strong>
            <button [mat-dialog-close] id="closingX" class="close" aria-label="Close">&times;</button>
        </h4>
    </div>

    <mat-dialog-content>
        <div class="change-picture-content"> -->
            <!-- default options?
            <div class="sample-grid">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
            <hr> -->
            <!-- <input type="file" (change)="onFileSelected($event)">
        </div>
    </mat-dialog-content> -->

    <!-- ok button -->
    <!-- <mat-dialog-actions style="justify-content:center">
        <button mat-button id="okButton" (click)="onUpload()">Ok</button>
    </mat-dialog-actions>
</div> -->