.change-picture-parent-container {
    display:block;
}

strong {
    margin-right:80px;
}

h4 {
    position:relative;
    bottom:15px;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #f1f2e8;
}

.change-picture-content {
    display:flex;
}