<div id="passChangeHeader" class="modal-header">
    <div class="col-md-10">
        <h3 id="cpTitle" class="modal-title">Change Password</h3>
    </div>
    <div class="col-md-2">
        <button type="button" id="cpClose" class="close" aria-label="Close" (click)="dialog.closeAll()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div id="passChangeBody" class="modal-body">
    <form class="form-inline">
        <div class="form-group" style="width:100%;">
            <!--<md-form-field>
                <input mdInput placeholder="Old Password" id="pcExPw">
                <input mdInput placeholder="New Password" id="pcNewPw">
                <input mdInput placeholder="Confirm Password" id="pcConfPw">
            </md-form-field>-->
            <input type="text" placeholder="Old Password" id="pcExPw">
            <input type="text" placeholder="New Password" id="pcNewPw">
        </div>
    </form>
</div>

<div id="passChangeFooter" style="position:relative" class="modal-footer">
    <form class="form-inline">
        <div class="form-group" style="width:100%;">
            <input type="text" placeholder="Confirm Password" id="pcConfPw">
        </div>
    </form>
</div>