#cpClose {
    position: relative;
    left: 25px;
}

#cpTitle {
    position: relative;
    right: 30px;
}

#passChangeHeader {
    position: relative;
    bottom: 25px;
}

input {
    position: relative;
    margin-bottom: 8px;
    left: 10%;
    height: 28px;
    width: 250px;
}

#pcConfPw {
    position: relative;
    right: 40%;
}