<div id="cpHeader" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title>Change Password</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-1">
        <button mat-dialog-close id="cpX" class="close" aria-label="Close">&times;</button>
    </div>
</div>
<hr>

<mat-dialog-content id="cpBody">
    <form #f="ngForm">
        <mat-form-field>
            <input matInput name="oldPw" required type="password" placeholder="Old Password" id="cpExPw" [(ngModel)]="oldPw">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput name="newPw" required type="password" placeholder="New Password" id="cpNewPw" [(ngModel)]="newPw">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput name="confPw" required type="password" placeholder="Confirm Password" id="cpConfPw" [(ngModel)]="confPw">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions id="cpFooter">
    <button mat-dialog-close id="cpClose">Close</button>
    <button mat-button id="cpSubmit" [disabled]="!f.valid" (click)="changePW()">Change Password</button>
</mat-dialog-actions>