#cpClose {
    position: relative;
    left: 25px;
}

#cpTitle {
    position: relative;
    right: 30px;
}

#passChangeBody {
    position: relative;
    bottom: 25px;
    height: 120px;
}

#passChangeHeader {
    position: relative;
    bottom: 25px;
}

input {
    position: relative;
    margin-bottom: 12px;
    left: 10%;
    height: 28px;
    width: 250px;
}

#cpSub {
    position: relative;
    top: 10px;
    left: 250px;
}