#cpClose {
    position: relative;
    left: 25px;
}

#cpTitle {
    position: relative;
    right: 25px;
}

#cpFooter {
    height:0px;
    position:relative;
}

#passChangeBody {
    position: relative;
    bottom: 25px;
    height: 120px;
}

#passChangeHeader {
    position: relative;
    bottom: 25px;
}

input {
    position: relative;
    margin-bottom: 12px;
    height: 28px;
    width: 230px;
}

#cpSub {
    position: relative;
    top:10px;
}