<mat-accordion *ngFor="let userPageInstance of mapConfig.userpageinstances">
  <app-locates *ngIf="userPageInstance.module_instance.module.identity == 'locates'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-locates>
  <app-open-aerial-map *ngIf="userPageInstance.module_instance.module.identity == 'openAerialMap'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-open-aerial-map>
  <app-SDS *ngIf="userPageInstance.module_instance.module.identity == 'SDS'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-SDS>
  <app-WO *ngIf="userPageInstance.module_instance.module.identity == 'WO'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-WO>
</mat-accordion>
