<mat-accordion *ngFor="let userPageInstance of mapConfig.userpageinstances">
  <div class="insert-a-component-inside">
    <ng-container #vc></ng-container>
  </div>
  <div [ngSwitch]="userPageInstance.module_instance.module.identity">
    <app-locates *ngSwitchCase = "'locates'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-locates>
    <app-open-aerial-map *ngSwitchCase = "'openAerialMap'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-open-aerial-map>
    <app-SDS *ngSwitchCase = "'SDS'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-SDS>
    <app-paser *ngSwitchCase = "'paser'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-paser>
    <app-WO *ngSwitchCase = "'WO'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-WO>
    <app-AVL *ngSwitchCase = "'AVL'" [mapConfig]="mapConfig" [instance]="userPageInstance.module_instance"></app-AVL>
  </div>
</mat-accordion>
