<!-- Jack Reyburn -->
<!-- This is the modal event from clicking the 'pencil' or edit button within the admin server page -->

<!-- Row to include server edit details header and a closing 'x' -->
<div class="row">
    <!-- header -->
    <h4 mat-dialog-title id="serverLayerHeader">{{server.serverName}} Layers</h4>

    <!-- closing 'x' -->
    <button mat-dialog-close class="close" id="closingX">&times;</button>
</div>
<hr>

<!-- <mat-selection-list disableRipple=false>
    <mat-list-option *ngFor="let layer of layers" (click)="openCreateLayer()">
        {{layer.Title}}
    </mat-list-option>
</mat-selection-list>
<mat-selection-list disableRipple=false>
    <mat-list-option *ngFor="let folder of folders" (click)="getServices(folder)">
        {{folder}}
    </mat-list-option>
</mat-selection-list>
<mat-selection-list disableRipple=false>
    <mat-list-option *ngFor="let service of services" (click)="getArcGISLayers(service)">
        {{service.name}}
    </mat-list-option>
</mat-selection-list> -->
<mat-tab-group *ngIf="server.serverType == 'ArcGIS WMS' || server.serverType == 'ArcGIS WMTS'" [selectedIndex]="selected.value" (selectedIndexChange)="setTab($event)">
    <mat-tab label="Folders">
        <mat-list class="matlist">
            <h3 matSubheader>Folders</h3>
            <mat-list-item *ngFor="let folder of folders" (click)="getServices(folder)">
                <mat-icon matListIcon>folder</mat-icon>
                <h4 matLine>{{folder}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Folder">
        <mat-list class="matlist">
            <h3 matSubheader>Services</h3>
            <mat-list-item *ngFor="let service of services" (click)="getArcGISLayers(service)">
                <mat-icon matListIcon>Services</mat-icon>
                <h4 matLine>{{service.name}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab label=" WMS Layers">
        <mat-list class="matlist">
            <h3 matSubheader>WMS Layers</h3>
            <mat-list-item *ngFor="let layer of WMSLayers" (click)="openCreateLayer(layer)">
                <mat-icon matListIcon>Layers</mat-icon>
                <h4 matLine>{{layer.layerName}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="WMTS Layers">
        <mat-list class="matlist">
            <h3 matSubheader>WMTS Layers</h3>
            <mat-list-item *ngFor="let layer of WMTSLayers" (click)="openCreateLayer(layer)">
                <mat-icon matListIcon>Layers</mat-icon>
                <h4 matLine>{{layer.layerName}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="server.serverType == 'Geoserver WMS' || server.serverType == 'Geoserver WMTS' || server.serverType == 'Geoserver'" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue('$event')">
    <mat-tab label="WMS Layers">
        <mat-list class="matlist">
            <mat-list-item *ngFor="let layer of WMSLayers" (click)="openCreateLayer(layer)">
                <mat-icon matListIcon>Layers</mat-icon>
                <h4 matLine mat-dialog-close>{{layer.layerName}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="WMTS Layers">
        <mat-list class="matlist">
            <mat-list-item *ngFor="let layer of WMTSLayers" (click)="openCreateLayer(layer)">
                <mat-icon matListIcon>Layers</mat-icon>
                <h4 matLine mat-dialog-close>{{layer.layerName}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>
