<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>Departments</th>
            </tr>

            <!-- List departments-->
            <tr *ngFor="let department of departments">
                <td><form class="form-inline">
                    <div class="form-group" style="width:100%">
                        <i id="btnOpenDelDep" class="fa fa-times" (click)="openConfDel(department, 3)"></i>
                        <mat-form-field>
                            <input matInput id="exDepartment" (click)="departmentClick(department)" name="exDepartment" #editdepartmentinput [(ngModel)]="department.department" type="text" (blur)="updateDepartment(department)">
                        </mat-form-field>
                    </div>
                </form></td>
            </tr>
            <tr>
                <td><mat-form-field>
                    <input matInput id="newDepartment" #newdepartmentinput [(ngModel)] = "newDepartment" placeholder="New Department" type="text" (keyup.enter)="addDepartment(newDepartment); newdepartmentinput.value=''" aria-describedby="departmentHelpBlock"><br>
                </mat-form-field>
                <p id="departmentHelpBlock" class="form-text form-muted">Press enter to create a department.</p></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table *ngIf="showGroup" class="table">
            <tr>
                <th>{{selectedDepartment.department}} Groups</th>
            </tr>

            <!-- List groups by department-->
            <tr *ngFor="let group of groups">
                <td *ngIf="filterGroup(group.departmentID)"><form class="form-inline">
                    <div class="form-group" style="width:100%">
                        <i *ngIf="filterGroup(group.departmentID)" id="btnOpenDelGroup" class="fa fa-times" (click)="openConfDel(group, 4)"></i>
                        <mat-form-field>
                            <input matInput (click)="groupClick(group)" id="exGroup" name="exGroup" #editgroupinput [(ngModel)] = "group.group" type="text" (blur)="updateGroup(group)">
                        </mat-form-field>
                    </div>
                </form></td>
            </tr>
            <tr>
                <td><mat-form-field>
                    <input matInput #newgroupinput [(ngModel)] = "newgroup" type="text" placeholder="New Group" (keyup.enter)="addGroup(newgroup); newgroupinput.value=''" aria-describedby="groupHelpBlock"><br>
                </mat-form-field>
                <p id="groupHelpBlock" class="form-text form-muted">Press enter to create a group.</p></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
       <table *ngIf="showRole" class="table">
            <tr>
                <th>{{selectedGroup.group}} Roles</th>
            </tr>

            <!-- List roles by group-->
            <tr *ngFor="let role of roles">
                <td *ngIf="filterRole(role.groupID)"><form class="form-inline">
                    <div class="form-group" style="width:100%">
                        <i *ngIf="filterRole(role.groupID)" id="btnOpenDelRole" class="fa fa-times" (click)="openConfDel(role, 5)"></i>
                        <mat-form-field>
                            <input matInput id="exRole" name="exRole" #editroleinput [(ngModel)] = "role.role" type="text" (blur)="updateRole(role)">
                        </mat-form-field>
                    </div>
                </form></td>
            </tr>
            <tr>
                <td><mat-form-field>
                    <input matInput id="newRole" #newroleinput [(ngModel)] = "newRole.role" type="text" placeholder="New Role" name="newRole" (keyup.enter)="addRole(newRole); newroleinput.value=''" aria-describedby="roleHelpBlock"><br>
                </mat-form-field>
                <p id="roleHelpBlock" class="form-text form-muted">Press enter to create a role.</p></td>
            </tr>
        </table>
    </div>
</div>

<ng-template ngbModalContainer></ng-template>