<mat-expansion-panel class="expansiontab" *ngIf="locateConfig.visible==true" [disabled]="locateConfig.expanded == false" [expanded]="locateConfig.expanded == true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Locates
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button mat-button mat-raised-button color="primary" (click)="goToTab('Input')">Input</button>
  <button mat-button mat-raised-button color="primary" (click)="goToTab('Search')">Search</button>
  <button mat-button mat-raised-button color="primary" (click)="goToTab('Process')">Process</button>
  <button *ngIf="locatesservice.showSortBy" mat-button mat-raised-button color="primary" (click)="locatesservice.flipSortBy()">Sorting By {{locatesservice.sortBy}}</button>
  <!-- <button mat-button mat-raised-button color="primary" (click)="openDashboard()">Dashboard</button> -->
  <div style="max-height: 40vh; overflow:auto">
  <div *ngIf="tab=='Input'" label="Input"><br>
    <mat-form-field>
      <input matInput [(ngModel)]="locateInput" id='locateInput' placeholder="Paste Locate Email Here"
        autocomplete="off">
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" (click)='importLocate()' [disabled]='locateInput == null || locateInput == ""'>Import
      Locate</button>
  </div>
  <div *ngIf="tab=='Search'" label=Search><br>
    <mat-slide-toggle matTooltip="" class="" [checked]="filterOpen" (change)="filterOpen = !filterOpen">
      <span>Only Open Tickets</span>
    </mat-slide-toggle><br>
    <mat-form-field style="width:45%">
      <input matInput [matDatepicker]="picker" placeholder="From Date (30 Days Ago)" [(ngModel)]="fromDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:45%">
      <input matInput [matDatepicker]="picker2" placeholder="To Date (Current Date)" [(ngModel)]="toDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field><br>
    <button mat-button mat-raised-button color="primary" (click)='filter()'>Filter</button>
    <button mat-button mat-raised-button color="primary" (click)='clearFilter()'>Clear Filter</button>
  </div>
  <div *ngIf="tab=='Process'" label="Process" style="width:100%"><br>
    <div *ngIf='ticket !== null'>
      Selected Ticket: {{ticket.ticket}}<br>
      Valid: {{ticket.sdate}} at {{ticket.stime}}<br>
      Address: {{ticket.address}} {{ticket.street}}<br>
      Cross Street: {{ticket.crossst}}<br>
      Contractor: {{ticket.company}}<br>
      Work Type: {{ticket.wtype}}<br>
      <div class="example-container">
        <mat-form-field>
            <textarea [(ngModel)]="ticket.location" matInput disabled placeholder="Location"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>
      <mat-form-field>
        <mat-label>Disposition</mat-label>
        <mat-select [disabled]='ticket.closed != null' [(value)]="ticket.disposition">
          <mat-option *ngFor="let item of disposition.disposition" [value]="item.value">
            {{item.shortDescription}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field>
          <textarea [disabled]='ticket.closed != null' [(ngModel)]="completedNote" [value]="completedNote" matInput placeholder="Note" style="width:100%"></textarea>
        </mat-form-field>
      </div>
      <div *ngFor="let item of disposition.disposition">
        <div *ngIf="item.value == ticket.disposition">
          <button mat-button mat-raised-button *ngIf="item.completesTicket == true" color="primary" (click)='completeTicket()' [disabled]='ticket.closed != null'>Complete Ticket</button>
          <button mat-button mat-raised-button *ngIf="item.completesTicket == false" color="primary" (click)='completeTicket()' [disabled]='ticket.closed != null'>Update Status</button>
          <button mat-button mat-raised-button *ngIf="item.completesTicket == true" color="primary" (click)='emailContractor(ticket)' [disabled]='ticket.closed != null || !ticket.email'>Email Contractor</button> <br>
        </div>  
      </div>
    </div>
  </div>
</div>
</mat-expansion-panel>
