<div id="detailsHeader" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title style="position:relative; right:5px; bottom:5px;">{{name}}</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-1">
        <button id="SDX" mat-dialog-close class="close">&times;</button>
    </div>
</div>

<mat-dialog-content>
    <form #f="ngForm">
        <div class="col-sm-6">
            <div class="row" style="position:relative; right:1em;">
                <mat-form-field>
                    <input matInput name="serverDetailID" [(ngModel)]="server.ID" placeholder="ID" value="{{server.ID}}" [disabled]="true">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="row">
                    <input matInput name="serverName" [(ngModel)]="server.serverName" placeholder="Server Name" value="{{server.serverName}}">
                </mat-form-field>
            </div>
                
            <div class="row">
                <mat-form-field class="row">
                    <input matInput name="serverURL" [(ngModel)]="server.serverURL" placeholder="Server URL" value="{{server.serverURL}}">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div>
        <button mat-dialog-close id="detailsClose">Close</button>
        <button mat-button-primary id="detailsSubmit" (click)="submit(server)" [disabled]="!f.valid">Submit Changes</button>
    </div>
</mat-dialog-actions>