<!-- Jack Reyburn -->
<!-- This is the modal event from clicking the 'pencil' or edit button within the admin server page -->

<!-- Row to include server edit details header and a closing 'x' -->
<div class="row">
    <!-- header -->
    <h4 mat-dialog-title id="serverNameHeader">{{name}}</h4>

    <!-- closing 'x' -->
    <button mat-dialog-close class="close" id="closingX">&times;</button>
</div>
<hr>

<mat-dialog-content>
    <!-- form with input boxes for server changes -->
    <form #f="ngForm">
        <!-- server ID is set by CUBE -->
        <mat-form-field class="row">
            <input matInput name="serverDetailID" [(ngModel)]="server.ID" placeholder="ID" value="{{server.ID}}" [disabled]="true">
        </mat-form-field>
        <br>

        <!-- server name can be changed by admin user -->
        <mat-form-field class="row">
            <input matInput name="serverName" [(ngModel)]="server.serverName" placeholder="Server Name" value="{{server.serverName}}">
        </mat-form-field>
        <br>

        <!-- server type can be changed by admin user -->
        <mat-form-field class="row">
            <mat-select name="newServType" [(ngModel)]="server.serverType" required type="text" placeholder="Server Type">
                <mat-option value="Geoserver WMS">Geoserver WMS</mat-option>
                <mat-option value="Geoserver WMTS">Geoserver WMTS</mat-option>
                <mat-option value="ArcGIS WMS">ArcGIS WMS</mat-option>
                <mat-option value="ArcGIS WMTS">ArcGIS WMTS</mat-option>
                <mat-option value="Geoserver">Geoserver</mat-option>
                <!-- <mat-option value="WMS">Generic WMS</mat-option>
                <mat-option value="WMTS">Generic WMTS</mat-option>
                <mat-option value="PostGIS">PostGIS</mat-option> -->
            </mat-select>
        </mat-form-field>
        <br>

        <!-- server URL can be changed by admin user -->
        <mat-form-field class="row">
            <input matInput name="serverURL" [(ngModel)]="server.serverURL" placeholder="Server URL" value="{{server.serverURL}}">
        </mat-form-field>
        <div *ngIf="server.serverType == 'Geoserver WMS'">
            URL should end with 'wms'
        </div>
        <div *ngIf="server.serverType == 'Geoserver WMTS'">
            URL should end with 'wmts' (I think.  Work may need to be done on this)
        </div>
        <div *ngIf="server.serverType == 'ArcGIS WMS'">
            URL should end with 'service'
        </div>
        <div *ngIf="server.serverType == 'ArcGIS WMTS'">
            URL should end with 'service'
        </div>
    </form>
</mat-dialog-content>

<!-- button to submit changes -->
<mat-dialog-actions style="justify-content: center">
    <button mat-dialog-close id="submitButton" (click)="submit(server)" [disabled]="!f.valid">Submit Changes</button>
</mat-dialog-actions>
