<!-- Jack Reyburn -->
<!-- handles the my cube feature and comments menus -->
<!-- message is WMS Data -->
<div *ngIf="message">
    <!-- second accordian menu handling features -->
    <mat-accordion class="message-data" style="background-color: rgba(255,255,255,.7); display: block; position: absolute; bottom: 0px; left: 0px">
        <mat-expansion-panel [expanded]="open === true">
            <mat-expansion-panel-header>
                <!-- header -->
                <mat-panel-title>
                    Feature Data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div [innerHTML]="message" style="height: 260px; overflow: auto">
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="myCubeData">
    <!-- first accordian menu for added comments -->
    <mat-accordion class="comment-data" style="width: 400px; background-color: rgba(255,255,255,.7); display: block; position: absolute; bottom: 0px; left: 354px">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <!-- header -->
                <mat-panel-title>
                    <span *ngIf="myCubeComments != null"> Comments ({{myCubeComments.length}})</span>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- box for comments -->
            <div style="max-height:360px; overflow-y:auto;overflow-x:hidden">
                <div *ngFor="let myCubeComment of myCubeComments" style="position:relative">
                    <span>
                        <div *ngIf="showAuto === true && myCubeComment.auto === true" style="font-size: 80%;word-wrap:normal; width:380px">
                            <!-- name and date -->
                            <b>{{myCubeComment.firstName}} {{myCubeComment.lastName}}</b>
                            <i>{{myCubeComment.createdat | date}} at {{myCubeComment.createdat |
                                date:'shortTime'}}</i>
                            <br>
                            {{myCubeComment.comment}}
                            <br>
                            <mat-divider></mat-divider>
                        </div>
                        <div *ngIf="myCubeComment.auto != true" style="word-wrap:normal; width:380px">
                            <!-- name and date -->
                            <b>{{myCubeComment.firstName}} {{myCubeComment.lastName}}</b>
                            <i>{{myCubeComment.createdat | date}} at {{myCubeComment.createdat |
                                date:'shortTime'}}</i>

                            <!-- delete button -->
                            <button id="trashButton" *ngIf="userID == myCubeComment.userid" mat-button (click)='deleteMyCubeComment(myCubeConfig.table, myCubeComment)'>
                                <mat-icon>delete</mat-icon>
                            </button>
                            <br>
                            {{myCubeComment.comment}}
                            <br>
                            <mat-divider></mat-divider>
                        </div>
                    </span>
                </div>
            </div>
            <!-- comment input that is used as enter is pressed -->
            <mat-form-field style="width:100%">
                <input matInput id="comment" [(ngModel)]="commentText" placeholder="New Comment" (keyup.enter)="addMyCubeComment()">
            </mat-form-field>
            <br><button id="showAuto" mat-button (click)='showAuto = !showAuto'>{{showAuto ? 'Hide Feature Changes' :
                'Show
                Feature Changes'}}</button>
            <!-- <input type="file" (change)="onFileSelected($event)"> -->
        </mat-expansion-panel>
    </mat-accordion>

    <!-- second accordian menu handling features -->
    <mat-accordion class="feature-data" style="background-color: rgba(255,255,255,.7); display: block; position: absolute; bottom: 0px; left: 0px">
        <mat-expansion-panel [expanded]="open === true">
            <mat-expansion-panel-header>
                <!-- header -->
                <mat-panel-title>
                    Feature Data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="height: 260px; overflow-x: auto">
                <div *ngFor="let myCube of myCubeData">
                    <div *ngIf="myCube.type=='id'"></div>
                    <div *ngIf="myCube.type=='geom'"></div>
                    <div *ngIf="myCube.type=='integer'">
                        <!-- input field -->
                        <mat-form-field style="width:90%">
                            <input matInput [disabled]="!myCubeConfig.edit" id="textinput" ngModel required placeholder="{{myCube.field}}"
                                [(ngModel)]="myCube.value" (change)="myCube.changed = true" (blur)="updateMyCube(myCube)">
                        </mat-form-field>
                    </div>
                    <div *ngIf="myCube.type=='double precision'">
                        <!-- input field -->
                        <mat-form-field style="width:90%">
                            <input matInput [disabled]="!myCubeConfig.edit" id="textinput" ngModel required placeholder="{{myCube.field}}"
                                [(ngModel)]="myCube.value" (change)="myCube.changed = true" (blur)="updateMyCube(myCube)">
                        </mat-form-field>
                    </div>
                    <div *ngIf="myCube.type=='boolean'">
                        <!-- checkbox for contracting -->
                        <mat-checkbox [disabled]="!myCubeConfig.edit" [(ngModel)]="myCube.value" (change)="myCube.changed = true; updateMyCube(myCube)">{{myCube.field}}</mat-checkbox>
                    </div>
                    <div *ngIf="myCube.value != null">
                            <div *ngIf="myCube.type=='text' && myCube.value.length > 20 || myCube.type == 'character varying' && myCube.value.length > 20"
                                    matTooltip="" matTooltipPosition="above" matTooltipShowDelay="1000">
                                    <mat-form-field style="width:90%">
                                        <textarea matInput rows="3" [disabled]="!myCubeConfig.edit" id="textinput" ngModel required
                                            placeholder="{{myCube.field}}" [(ngModel)]="myCube.value" (change)="myCube.changed = true"
                                            (blur)="updateMyCube(myCube)"></textarea>
                                    </mat-form-field><br>
                                    <!-- <span [innerHTML]="myCube.value | linky"></span> -->
                                    <div *ngIf="myCube.value != null">
                                        <div *ngFor="let url of Autolinker.parse(myCube.value)">
                                            <div [innerHTML]="url.url | linky: {truncate: 32}"></div>
                                            <div [innerHTML]="url.email | linky: {truncate: 32}"></div>
                                            <!-- <span [innerHTML]="'<a href'"></span> -->
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="myCube.type=='text' && myCube.value.length <= 20 || myCube.type == 'character varying' && myCube.value.length <= 20"
                                        matTooltip="" matTooltipPosition="above" matTooltipShowDelay="1000">
                                        <mat-form-field style="width:90%">
                                            <input matInput rows="3" [disabled]="!myCubeConfig.edit" id="textinput" ngModel required
                                                placeholder="{{myCube.field}}" [(ngModel)]="myCube.value" (change)="myCube.changed = true"
                                                (blur)="updateMyCube(myCube)">
                                        </mat-form-field><br>
                                        <!-- <span [innerHTML]="myCube.value | linky"></span> -->
                                        <div *ngIf="myCube.value != null">
                                            <div *ngFor="let url of Autolinker.parse(myCube.value)">
                                                <div [innerHTML]="url.url | linky: {truncate: 32}"></div>
                                                <div [innerHTML]="url.email | linky: {truncate: 32}"></div>
                                                <!-- <span [innerHTML]="'<a href'"></span> -->
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    <div *ngIf="myCube.type=='date'">
                        <mat-form-field style="width:90%">
                            <input matInput [disabled]="!myCubeConfig.edit" [matDatepicker]="picker" placeholder="{{myCube.field}}"
                                [(ngModel)]="myCube.value" (dateChange)="myCube.changed = true; updateMyCube(myCube)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br>