.admin-bg {
    background-image:url("../../assets/blur1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width:100vw;
    height:100vh;
}

admin-nav {
    //position:absolute;
    width:180px;
    height:32%;
    top:53px;
    color:#b3daff;
    float:right;
}

router-outlet {
    position:absolute;
    left:230px;
    top:50px;
    right:0px;
}