#admin_bg {
    background-image: linear-gradient(to bottom, #99ccff, #4d88ff);
    position: absolute;
    width: 100%;
    height:100%;
    //height: 3000px;
}

#admin_nav {
    position:absolute;
    width:230px;
    top:50px;
    background-color: white;
    color: #b3daff;
    border: 2px black;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-style: none;
}

#adminRouter {
    position:absolute;
    left:230px;
    top:50px;
    right:0px;
}