.admin-bg {
    background-image:url("../../assets/blur1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width:100vw;
    height:100%;
    overflow: scroll;
}

admin-nav {
    //position:absolute;
    width:180px;
    height:32%;
    top:53px;
    color:#b3daff;
    float:right;
}