<div id="newUserHeader" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title>Create New User</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <button mat-dialog-close id="newUserX" class="close" aria-label="Close">&times;</button>
    </div>
</div>
<br>

<mat-dialog-content>
    <form #f="ngForm">
        <div class="row" style="width:100%">
            <mat-form-field id="firstNameBlock">
                <input matInput id="newUserFirstName" name="newUserFirstName" required [(ngModel)]="newUser.firstName" type="text" placeholder="First Name">
            </mat-form-field>

            <mat-form-field id="lastNameBlock">
                <input matInput id="newUserLastName" name="newUserLastName" required [(ngModel)]="newUser.lastName" type="text" placeholder="Last Name">
            </mat-form-field>
        </div>
        <br>

        <div class="row" style="width:100%">
            <!-- <mat-form-field id="roleBlock">
                <mat-select id="newUserRole" name="newUserRole" required [(ngModel)]="newUser.roleID" placeholder="Organizational Role">
                    <mat-option *ngFor="let role of roles" [value]="role.ID">
                        {{role.role}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field id="emailBlock">
                <input matInput id="newUserEmail" name="newUserEmail" required [(ngModel)]="newUser.email" type="text" placeholder="Email">
            </mat-form-field>
        </div>
        <br>

        <div class="row" style="width:100%">
            <mat-form-field id="passwordBlock">
                <input matInput id="newUserPassword" name="newUserPassword" [(ngModel)]="newUser.password" type="password" placeholder="Password">
            </mat-form-field>

            <div id="checkBlock">
                <mat-checkbox id="newUserActive" name="newUserActive" [(ngModel)]="newUser.active" checked="true">Active</mat-checkbox>
                <mat-checkbox id="newUserAdmin" name="newUserAdmin" [(ngModel)]="newUser.administrator">Administrator</mat-checkbox>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-dialog-close id="newLayerClose">Close</button>
    <button mat-button id="newUserSub" (click)="addUser(newUser)" [disabled]="!f.valid">Submit</button>
</mat-dialog-actions>