<div class="layer-parent-container">
    <div class="row">
        <!-- table for storing and editing all layer information in house -->
        <mat-table id="layerDataTable" #table [dataSource]="dataSource">

            <!-- first column used to contain layer id numbers -->
            <ng-container matColumnDef="layerID">
                <mat-header-cell class="layer-sm-head" *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell class="layer-sm-cell" *matCellDef="let row">
                    <b>{{row.currentData.ID}}</b>
                </mat-cell>
            </ng-container>
            
            <!-- second column containing the name of the layer -->
            <ng-container matColumnDef="name">
                <mat-header-cell class="layer-md-head" *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell class="layer-md-cell" *matCellDef="let row">
                    <mat-form-field #input floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['layerName']" [readonly]="!row.editing" [(ngModel)]="row.currentData.layerName">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- third column containing the layer description -->
            <ng-container matColumnDef="description">
                <mat-header-cell class="layer-lg-head" *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell class="layer-lg-cell" *matCellDef="let row">
                    <mat-form-field style="width:80%" floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['layerDescription']" [readonly]="!row.editing" [(ngModel)]="row.currentData.layerDescription">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            
            <!-- fourth column containing type -->
            <ng-container matColumnDef="type">
                <mat-header-cell class="layer-md-head" *matHeaderCellDef> Type </mat-header-cell>
                <mat-cell class="layer-md-cell" *matCellDef="let row">
                    <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never' }}">
                        <input matInput [formControl]="row.validator.controls['layerType']" [readonly]="!row.editing" [(ngModel)]="row.currentData.layerType">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- fifth and final column used for containing button to add new layers as well as
            being able to edit current layers or delete them -->
            <ng-container matColumnDef="actionsColumn">
                <mat-header-cell class="layer-xlg-head" *matHeaderCellDef>
                    <button style="border:1px solid white" mat-button id="createLayerBtn" (click)="createLayer()"><a style="color:white">Create Layer</a></button>
                    <button style="border:1px solid white" mat-button id="createMyCubeBtn" (click)="createMyCube()"><a style="color:white">Create MyCube</a></button>
                </mat-header-cell>
                <mat-cell class="layer-xlg-cell" *matCellDef="let row">     
                    <button mat-button [matMenuTriggerFor]="menu2">
                        <a>Options</a>
                    </button>
                    <mat-menu #menu2="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item id="exlayerperm" (click)="openPermission(row.currentData.ID, row.currentData.layerName)">Permissions</button>
                        <button mat-menu-item id="openstyle" (click)="openStyle(row.currentData.ID, row.currentData.layerName)">Style</button>
                    </mat-menu>
                    <span>
                    <button mat-icon-button style="color:#7e7e7e" title="Edit Details" focusable="false" (click)="openDetails(row.currentData.ID, row.currentData.layerName)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    </span>
                    <span>
                    <button mat-icon-button style="color:#7e7e7e" title="Delete Layer" focusable="false" (click)="confirmDelete(row.currentData)">
                        <i class="fa fa-trash mat-icon"></i>
                    </button>
                    </span>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="layerColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: layerColumns"></mat-row>
        </mat-table>
    </div>

    <!-- <span ngbDropdown>   
        <button id="sortBtn" type="button" class="btn-primary" ngbDropdownToggle>Sort Layers</button>
        <div id="sortDrop" class="dropdown-menu dropdown-menu-right" aria-labelledby="options">
            <button id="sortAZ" type="button" class="btn btn-secondary" (click)="sortLayers('AZ')">Name (Ascending)</button>
            <button id="sortZA" type="button" class="btn btn-secondary" (click)="sortLayers('ZA')">Name (Descending)</button>
            <button id="sortType" type="button" class="btn btn-secondary" (click)="sortLayers('TYPE')">Type</button>
            <button id="sortOldNew" type="button" class="btn btn-secondary" (click)="sortLayers('OLD_NEW')">Old to New</button><br>
            <button id="sortNewOld" type="button" class="btn btn-secondary" (click)="sortLayers('NEW_OLD')">New to Old</button><br>
            <button id="sortGeom" type="button" class="btn btn-secondary" (click)="sortLayers('GEOM')">Geometry</button>
        </div>
    </span> -->
</div>