mat-header-row {
    background-color: #7e7e7e;
    color:white;
}

//formats the position and size of the table
.mat-table {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0px;
    margin-top: 50px;
    margin-left: -420px;
    overflow: auto;
    max-height: 200px;
}
@media (min-width:1200px) {
    .mat-form-field, .mat-table {
        width: 1000px;
    }
}

@media (max-width:1284px) {
    .mat-form-field, .mat-table {
        width: 800px;
    }
}

.row {
    display:flex;
    flex-direction:column;
    position:relative;
    left:15px;
}

//removes lines under each data point in the table
:host ::ng-deep .mat-input-underline {
    background-position: 0;
    background-color: transparent;
    display: none;
}

//adjusts the size of each of the columns in the table
mat-table mat-header-row mat-header-cell.layer-xlg-head {
    max-width: 28%;
    margin-left: 4%;
}
mat-table mat-row mat-cell.layer-xlg-cell {
    max-width: 20%;
    margin-left: 7%;
}
mat-table mat-row mat-cell.layer-lg-cell, mat-table mat-header-row mat-header-cell.layer-lg-head {
    max-width: 20%;
}
mat-table mat-row mat-cell.layer-md-cell, mat-table mat-header-row mat-header-cell.layer-md-head {
    max-width: 28%;
}
mat-table mat-row mat-cell.layer-sm-cell, mat-table mat-header-row mat-header-cell.layer-sm-head {
    max-width: 8%;
}

mat-table mat-header-row mat-header-cell {
    color: white;
}
