<!-- Jack Reyburn -->
<!-- This modal open the style edit window for layers -->

<!-- creates a row to cotnain the header and the close button -->
<div class="row">
    <!-- header -->
    <h4 id="styleHeader">
        <b>Current Styles</b>
    </h4>

    <!-- closing button -->
    <button mat-dialog-close class="close" id="closingX" (click)="updateLayerStyle(this.layer)">&times;</button>
</div>
<hr>

<!-- container to hold the text area to view and edit json styles -->
<mat-dialog-content>
    <form class="example-form">
        <!-- text area in which the admin can edit styles -->
        <mat-form-field>
            <textarea matInput name="layerStyle" [(ngModel)]="defaultStyle" placeholder="JSON Style"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>