h4 {
    position: relative;
    top: -20px;
    margin-bottom: 10px;
}

#styleHeader {
    position:relative;
    height:0px;
    margin-bottom:20px;
}

#layerStyleX {
    position:relative;
    bottom:10px;
}

hr {
    top: 5px;
}

mat-dialog-content {
    max-height:300px;
    max-width: 300px;
}