#delUserStyle {
    margin-right:10px;
    position: relative;
    right: 10px;
}

h4 {
    position: relative;
    bottom: 10px;
}

#styleHeader {
    position:relative;
    height:0px;
    margin-bottom:20px;
}

#exitMod {
    position:relative;
    
}

#layerStyleX {
    position:relative;
    bottom:10px;
}

#layerStyleTitle {
    position:relative;
    bottom:15px;
}

hr {
    margin:0;
    padding:0;
    border-color: #8d8d8d;
}

b {
    margin-right:20px;
}

mat-checkbox {
    margin-right:10px;
}

mat-slide-toggle {
    position:relative;
    top:3px;
}

mat-dialog-content {
    max-height:300px;
    max-width: 300px;
}

#exLayerStyle {
    padding-top:0;
}

#layerStyleExComment {
    position:relative;
    bottom:20px;
    right:5px;
    height:20px;
}