h4 {
    position: relative;
    bottom: 10px;
}

#permHeader {
    position:relative;
    height:0px;
    margin-bottom:20px;
}

#layerPermX {
    position:relative;
    bottom:10px;
}

#layerPermTitle {
    position:relative;
    bottom:15px;
}

hr {
    margin:0;
    padding:0;
    border-color: #8d8d8d;
}

b {
    margin-right:20px;
}

mat-checkbox {
    margin-right:10px;
}

mat-slide-toggle {
    position:relative;
    top:3px;
}

mat-dialog-content {
    max-height:300px;
}

#exLayerPerm {
    padding-top:0;
}

#layerPermExComment {
    position:relative;
    bottom:20px;
    right:5px;
    height:20px;
}