// formats and positions all rows
.row {
    width: 205px;
    position: relative;
    left: 10px;
}

mat-dialog-content {
    width: 450px;
}

#myCubeHeader {
    position: relative;
    width: 300px;
    left: 5px;
}

#myCubeLayerHeader {
    position: relative;
    top: -10px;
    left: -5px;
}

// positions the closing 'x'
#closingX {
    position: relative;
    top: -60px;
    right: -100px;
}

#descriptionEntry, #dataTypeEntry {
    position: relative;
    left: 50px;
}
