<div id="myCubeHeader">
    <h4 mat-dialog-title id="myCubeLayerHeader">Create New MyCube Layer</h4>
    <button mat-dialog-close class="close" id="closingX">&times;</button>
</div>

<mat-dialog-content>
    <form #f="ngForm">
        <mat-form-field class="row" id="nameEntry">
            <input matInput id="myCube_newlayername" name="myCube_newlayername" value="{{layerName}}" required [(ngModel)]="newLayer.layerName" placeholder="Name">
        </mat-form-field>
        
        <mat-form-field class="row" id="descriptionEntry">
            <input matInput id="myCube_newlayerdescription" name="myCube_newlayerdescription" [(ngModel)]="newLayer.layerDescription" placeholder="Description">
        </mat-form-field>
        <br>

        <mat-form-field class="row" id="field1Entry">
            <input matInput id="myCube_newlayerfield" name="myCube_newlayerfield" [(ngModel)]="newLayerField1.field" required placeholder="Field {{newLayerFields.length+1}}">
        </mat-form-field>
        
        <mat-form-field class="row" id="dataTypeEntry">
            <mat-select name="myCube_newlayertype" [(ngModel)]="newLayerField1.type" required placeholder="Data type">
                <mat-option value="boolean">Boolean</mat-option>
                <mat-option value="text">Text</mat-option>
                <mat-option value="integer">Integer</mat-option>
                <mat-option value="double precision">Double</mat-option>
                <mat-option value="date">Date</mat-option>
            </mat-select>
        </mat-form-field>
            
        <mat-checkbox name="mycube_newlayerlabel" [(ngModel)]="newLayerField1.label">Use as Label</mat-checkbox>
           
        <button mat-button id="myCube_addField" (click)="addField()">Add Field</button>
        <hr>

        <h5><b>Layer fields:</b></h5>
        <mat-list *ngFor="let newLayerField of newLayerFields">
            <mat-list-item>
                <p (click)="deleteField(newLayerFields.indexOf(newLayerField))"><i class="fa fa-trash" aria-hidden="true"></i> {{newLayerField.field}}: {{newLayerField.type}}</p> 
            </mat-list-item>
        </mat-list>
        <br>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="float:right" id="myCube_layerNewFooter">
    <button mat-button [disabled]="!f.valid" (click)="addLayer(newLayer)">Add Layer</button>
</mat-dialog-actions>