<!-- Jack Reyburn -->
<!-- This deals with the edit details button in layers portion of admin settings -->

<!-- creates a row to hold title, id, and a closing 'x' -->
<div class="row" id="detailsHeader">
    <!--layer name and ID in one row  -->
    <h4 mat-dialog-title>{{name}} ID: {{layer.ID}}</h4>

    <!-- closing 'x' button -->
    <button mat-dialog-close id="closingX" class="close" aria-label="Close">&times;</button>
</div>
<hr>

<mat-dialog-content>
    <!-- form containing all of the input boxes -->
    <form #f="ngForm">
        <!-- name entry box -->
        <div class="row" style="width:100%">
            <mat-form-field id="layerNameEntry">
                <input matInput name="layerDetailName" [(ngModel)]="instanceDetails.name" placeholder="Name" (change)="checkLength()">
            </mat-form-field>

            <!-- description entry box -->
            <mat-form-field id="layerDescriptionEntry">
                <input matInput name="layerDetailDesc" [(ngModel)]="instanceDetails.description" placeholder="Description">
            </mat-form-field>
        </div>
        <br>
    </form>
</mat-dialog-content>

<!-- button to submit changes -->
<mat-dialog-actions style="justify-content:center">
    <button mat-dialog-close id="submitChangesButton" (click)="updateInstanceDetails()">Submit Changes</button>
</mat-dialog-actions>