.row {
    display:flex;
    flex-direction:column;
    position:relative;
    left:15px;
    //padding-left:12.1%;
}

:host ::ng-deep .mat-input-underline {
    background-position: 0;
    background-color: transparent;
    display: none;
}

#userCreateNew {
    margin-left:20%;
}

mat-table mat-row mat-cell.user-lg-cell, mat-table mat-header-row mat-header-cell.user-lg-head {
    max-width: 28%;
    margin-left: 6%
}

mat-table mat-row mat-cell.user-md-cell, mat-table mat-header-row mat-header-cell.user-md-head {
    max-width: 14%;
}

mat-table mat-row mat-cell.user-sm-cell, mat-table mat-header-row mat-header-cell.user-sm-head {
    max-width: 8%;
}

mat-table mat-header-row mat-header-cell {
    color: blue;
}

.mat-table {
    overflow:auto;
    max-height:80vh;
}

@media (min-width:1200px) {
    .mat-form-field, .mat-table {
        width:1100px;
    }
}

@media (max-width:1284px) {
    .mat-form-field, .mat-table {
        width:800px;
    }
}