// Jack Reyburn 
// styles the user page in admin settings

// colors the header
mat-header-row {
    background-color: #7e7e7e;
}

// Colors the headers white
mat-table mat-header-row mat-header-cell {
    color: white;
}

//formats the entire table including size and positioning
.mat-table {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: 50px;
    margin-left: -475px;
    width: 100px;

    overflow:auto;
    max-height:80vh;
}
@media (min-width:1284px) {
    .mat-form-field, .mat-table {
        width:1100px;
    }
}
@media (max-width:1284px) {
    .mat-form-field, .mat-table {
        width:800px;
    }
}

// formats and positions the rows
.row {
    display:flex;
    flex-direction:column;
    position:relative;
    left:15px;
}

//removes lines below entries 
:host ::ng-deep .mat-input-underline {
    background-position: 0;
    background-color: transparent;
    display: none;
}

//Spaces the Create New user button appropriately
#userCreateNew {
    margin-left:20%;
}

//allocats space for each of the current columns
mat-table mat-row mat-cell.user-xlg-cell, mat-table mat-header-row mat-header-cell.user-xlg-head {
    max-width: 28%;
}
mat-table mat-row mat-cell.user-lg-cell, mat-table mat-header-row mat-header-cell.user-lg-head {
    max-width: 24%;
}
mat-table mat-row mat-cell.user-md-cell, mat-table mat-header-row mat-header-cell.user-md-head {
    max-width: 12%;
}
mat-table mat-row mat-cell.user-sm-cell, mat-table mat-header-row mat-header-cell.user-sm-head {
    max-width: 8%;
}
