<!-- Jack Reyburn -->
<!-- This deals with the edit details button in layers portion of admin settings -->

<!-- creates a row to hold title, id, and a closing 'x' -->
<div class="row">
     <!--layer name and ID in one row  -->
    <span>
        <h4 mat-dialog-title id="detailsHeader">{{name}} ID: {{layer.ID}}</h4>
    </span>

    <!-- closing 'x' button -->
    <button mat-dialog-close class="close" id="closingX">&times;</button>    
</div>
<hr>

<mat-dialog-content>
    <!-- form containing all of the input boxes -->
    <form #f="ngForm">
        <!-- name entry box -->
        <mat-form-field class="row" id="layerNameEntry">
            <input matInput name="layerDetailName" [(ngModel)]="layer.layerName" placeholder="Name">
        </mat-form-field>
    
        <!-- description entry box -->
        <mat-form-field class="row" id="layerDescriptionEntry">
            <input matInput name="layerDetailDesc" [(ngModel)]="layer.layerDescription" placeholder="Description">
        </mat-form-field>
 
        <!-- type entry box -->
        <mat-form-field class="row" id="layerTypeEntry">
            <input matInput name="layerDetailType" [(ngModel)]="layer.layerType" placeholder="Type">
        </mat-form-field> 

        <!-- service entry box -->
        <mat-form-field class="row" id="layerServiceEntry">
            <input matInput name="layerDetailService" [(ngModel)]="layer.layerService" placeholder="Service">
        </mat-form-field> 

        <!-- identity entry box -->
        <mat-form-field class="row" id="layerIdentityEntry">
            <input matInput name="layerDetailIdent" [(ngModel)]="layer.Ident" placeholder="Identity">
        </mat-form-field>

        <!-- format entry box -->
        <mat-form-field class="row" id="layerFormatEntry">
            <input matInput name="layerDetailFormat" [(ngModel)]="layer.layerFormat" placeholder="Format">
        </mat-form-field>

        <!-- geometry entry box -->
        <mat-form-field class="row" id="layerGeometryEntry">
            <input matInput name="layerDetailGeom" [(ngModel)]="layer.layerGeom" placeholder="Geometry">
        </mat-form-field>
    
        <!-- service entry box -->
        <mat-form-field class="row" id="layerServerEntry">
            <input matInput name="layerDetailServer" [(ngModel)]="layer.server" placeholder="Server">
        </mat-form-field>

        <!-- style entry box -->
        <mat-form-field class="row" id="layerStyleEntry">
            <input matInput name="layerDetailStyle" [(ngModel)]="style" placeholder="Style">
        </mat-form-field>
    </form>
</mat-dialog-content>

<!-- button to submit changes -->
<mat-dialog-actions style="justify-content:center">
    <button mat-button id="submitChangesButton" (click)="submit(layer)" [disabled]="!f.valid">Submit Changes</button>
</mat-dialog-actions>
