<div class="row">
    <div class="col-md-4">
        <table id="homeTable" class="table">
            <tr><th>Home Page</th></tr>
            <tr><mat-checkbox>Map menu open on homepage</mat-checkbox></tr>
            <tr><mat-checkbox>Control 2</mat-checkbox></tr>
            <tr><mat-checkbox>Control 3</mat-checkbox></tr>
            <tr><mat-checkbox>Control 4</mat-checkbox></tr>
            <tr><mat-checkbox>Control 5</mat-checkbox></tr>
        </table>
    </div>

    <div class="col-md-4">
        <table id="adminTable" class="table">
            <tr><th>Admin Menu</th></tr>
            <tr><mat-checkbox>Control 1</mat-checkbox></tr>
            <tr><mat-checkbox>Control 2</mat-checkbox></tr>
            <tr><mat-checkbox>Control 3</mat-checkbox></tr>
            <tr><mat-checkbox>Control 4</mat-checkbox></tr>
            <tr><mat-checkbox>Control 5</mat-checkbox></tr>
        </table>
    </div>

    <div class="col-md-4">
        <table id="userTable" class="table">
            <tr><th>User Menu</th></tr>
            <tr><mat-checkbox>Control 1</mat-checkbox></tr>
            <tr><mat-checkbox>Control 2</mat-checkbox></tr>
            <tr><mat-checkbox>Control 3</mat-checkbox></tr>
            <tr><mat-checkbox>Control 4</mat-checkbox></tr>
            <tr><mat-checkbox>Control 5</mat-checkbox></tr>
        </table>
    </div>
</div>
<!--This is demonstrative of how defaults will eventually be used.-->