<div class="row">
    <div class="col-md-3">
        <table id="homeTable" class="table">
            <tr><th>Home Page</th></tr>
            <tr><input type="checkbox" value="menuOn"> Map menu open on homepage</tr>
            <tr><input type="checkbox">Control 2</tr>
            <tr><input type="checkbox">Control 3</tr>
            <tr><input type="checkbox">Control 4</tr>
            <tr><input type="checkbox">Control 5</tr>
        </table>
    </div>

    <div class="col-md-3">
        <table id="adminTable" class="table">
            <tr><th>Admin Menu</th></tr>
            <tr><input type="checkbox">Control 1</tr>
            <tr><input type="checkbox">Control 2</tr>
            <tr><input type="checkbox">Control 3</tr>
            <tr><input type="checkbox">Control 4</tr>
            <tr><input type="checkbox">Control 5</tr>
        </table>
    </div>

    <div class="col-md-3">
        <table id="userTable" class="table">
            <tr><th>User Menu</th></tr>
            <tr><input type="checkbox">Control 1</tr>
            <tr><input type="checkbox">Control 2</tr>
            <tr><input type="checkbox">Control 3</tr>
            <tr><input type="checkbox">Control 4</tr>
            <tr><input type="checkbox">Control 5</tr>
        </table>
    </div>
</div>
<!--This is demonstrative of how defaults will eventually be used.-->