.row {
    width: 160px;
    position: relative;
    left: 10px;
}

mat-dialog-content {
    width: 380px;
    height: 150px;
}

#detailsHeader {
    position: absolute;
    top: -10px;
    left: 5px;
}

#closingX {
    position: absolute;
    top: -10px;
    right: -180px;
}

#lastNameEntry, #idEntry {
    position: relative;
    left: 50px;
}

#userAdmin {
    position: relative;
    left: 100px;
}

#submitChangesButton {
    color: white;
    background-color: #646464;
}