<div id="detailsHeader" class="row">
    <div class="col-sm-9">
        <h4 mat-dialog-title style="position:relative; right:5px;">{{name}}</h4>
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <button id="UDX" mat-dialog-close class="close">&times;</button>
    </div>
</div>

<mat-dialog-content>
    <form #f="ngForm">
        <div class="col-sm-6">
            <div class="row" style="position:relative; right:1em;">
                <mat-form-field>
                    <input matInput name="userDetailID" [(ngModel)]="user.ID" placeholder="ID" value="{{user.ID}}" [disabled]="true">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="row">
                    <input matInput name="userFirstName" [(ngModel)]="user.firstName" placeholder="First Name" value="{{user.firstName}}">
                </mat-form-field>
            
                <mat-form-field class="row">
                    <input matInput name="userLastName" [(ngModel)]="user.lastName" placeholder="Last Name" value="{{user.lastName}}">
                </mat-form-field>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="row" style="margin-top:15px; margin-bottom:10px">
                <span><p style="margin-top:2px">Active:   </p></span>
                <input id="checkbox" type="checkbox" name="userActive" [(ngModel)]="user.active" checked={{user.active}}>
            </div>

            <div class="row">
                <mat-form-field>
                    <input matInput name="userEmail" [(ngModel)]="user.email" placeholder="Email" value="{{user.email}}">
                </mat-form-field>
            </div>

            <div class="row" style="margin-top:15px; margin-bottom:10px">
                <span><p style="margin-top:2px">Admin:   </p></span>
                <input id="checkbox" type="checkbox" name="userAdmin" [(ngModel)]="user.administrator" checked={{user.administrator}}>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div style="position:relative; left:200px;">
        <button mat-dialog-close id="detailsClose">Close</button>
        <button mat-button-primary id="detailsSubmit" (click)="submit(user)" [disabled]="!f.valid">Submit Changes</button>
    </div>
</mat-dialog-actions>