<div style="position:relative;  top:10px;"class="row">
    <div class="col-md-3">
        <div class="col-md-8 col-md-offset-1">
            <h4>Instance Name</h4>
        </div>
    </div>

    <div class="col-md-2" style="position:relative; right:5%">
        <h4>Server Type</h4>
    </div>

    <div class="col-md-4" style="position:relative; right:6%">
        <h4>URL</h4>
    </div>

    <div class="col-md-1 col-md-offset-1">
        <button id="createServerBtn" (click)="openServerNew()" style="width:80px; height:28px;">Create Server</button>
    </div>
</div>

<div class="row" style="position:relative; left:3%; width:100%; top:15px;">
    <form style="width:100%" class="form-inline" #e="ngForm" *ngFor="let server of servers">
        <!--<i id="btnOpenDelLayer" class="fa fa-times" style="position:relative; margin-right:5px" (click)="openConfDel(layeradmin)"></i>-->   
        <div class="col-md-2">
            <input id="exservername" style="width:100%" ngModel required name="exservername" title="{{server.serverName}}" class="form-control" [(ngModel)]="server.serverName" type="text">
        </div>
        <div class="col-md-2">
            <select id="exservertype" style="width:100%; height:34px;" ngModel required name="exservertype" class="form-control" [(ngModel)]="server.serverType" type="text">
                <option>Geoserver</option>
                <option>PostGIS</option>
            </select>
        </div>
        <div class="col-md-5">
            <input id="exserverurl" style="width:100%" ngModel required name="exserverurl" title="{{server.serverURL}}" class="form-control" [(ngModel)]="server.serverURL" type="text">
        </div>
        <div class="col-md-1">
            <button id="getRequestBtn" style="height:28px;" (click)="getRequest(server)">Layers</button>
        </div>
    </form>
    <br>
</div>

<hr style="width:100%; position:relative; top:25px; border-width:3px; border-color:black;">

<p style="position:relative; top:30px; left:10px; font-size:14px;">
    Add a component to display layer results by making the parseResponse() method emit an observable to a listener in the new component.<br>
    This component will be added as a selector and will update based on the "Layer" button click, and will have a similar relationship to<br>
    Map component and Sidenav component (The popup info that is displayed by clicking on a layer) The html will have an observer as input I think.<br>
</p>