<!-- This defines the modal that pops up after a "Create New Server" click event from "Servers" control-->
<div id="createNewServer">
    <div class="modal-header">
        <div class="row" style="width:100%">
            <div class="col-md-7">
                <h4 class="modal-title">Create New Server</h4>
            </div>

            <div class="col-md-2 col-md-offset-3">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addServer(newserver)" style="align-items:flex-end">

            <!--Row 1-->
            <div class="row" style="width:100%">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-1">
                        <label id="nameLabel" for="newservername">Name</label>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <input id="newservername" name="newservername" required [(ngModel)]="newserver.serverName" type="text" placeholder="Server Name">
                    </div>
                </div>     
            </div>
            <br>

            <!--Row 2-->
            <div class="row" style="width:100%">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-1">
                        <label id="typeLabel" for="newservertype">Type</label>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <select id="newservertype" name="newservertype" [(ngModel)]="newserver.serverType" required type="text" placeholder="Server Type">
                            <option>Geoserver</option>
                            <option>PostGIS</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <!--Row 3-->
            <div class="row" style="width:100%">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-1">
                        <label id="urlLabel" for="newserverurl">URL</label>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <input id="newserverurl" name="newserverurl" [(ngModel)]="newserver.serverURL" type="text" placeholder="Server URL">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-center" (click)="activeModal.dismiss('Cross click')">Close</button>
        <button class="btn btn-outline-primary text-center" (click)="addServer()" [disabled]="!f.valid">Add Server</button>
    </div>
</div>