<nav class="w3-sidenav w3-collapse w3-animate-left" style="width:250px;background-color: rgba(255,255,255,.6);top:54px; bottom:200px" id="mySidenav">
<div class="row">
    <div class="col-md-1 col-md-offset-9">
        <div class="row">
            <div class="col-md-1 col-md-offset-9">
                <i class="fa fa-close" (click)="hideMenu()"></i>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="position:absolute; bottom:50px">
    <h4></h4>
    <hr>
    <mat-card id="featureCard" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="myCubeData && !canEdit">
                <i id="cardClose" class="fa fa-times" aria-hidden="true" (click)="clearMessage()"></i>
                <div [innerHTML]='myCubeData.text'></div>
            </div>

            <div *ngIf="myCubeData && canEdit">
                <!--Display data as input fields that can be modified by user-->
            </div>
        </mat-card-content>
    </mat-card>
</div>

