#btnHide {
    margin: 15px 0 0 180px;
}

hr {
    border-color: gray;
}

#layerMarkup {
    font: 16px black;
}

#featureCard {
    background-color: rgba(172, 172, 172, 0.897);
    display: block;
}

#cardClose {
    position: absolute;
    right: 18px;
}