
<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
// These might need to be in the ts file (probably should be, but how to implement)
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}

</script>

<!-- Sidenav/menu -->
<!-- What benefit is there from keeping this separate from adminnav?-->
<nav class="w3-sidenav w3-collapse w3-animate-left" style="width:300px;background-color: rgba(255,255,255,.7);top:43px; bottom:200px" id="mySidenav"><br>
<div class="w3-container w3-row">
<div class="w3-col s4">
<!--<img src="../images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">-->
</div>

  </div>
