/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:host app {
    height:100vh;
    width:100vw;
    max-height:100vh;
    max-width:100vw;
}

.mat-tooltip {
    font-size: 1em !important;
}