<table class="table"><tr><th>
<a [routerLink]="['/settings']" routerLinkActive="active">User Settings</a><br></th></tr>
<!--<tr><td><a [routerLink]="['/settings', {outlets: {settings: ['user']}}]" routerLinkActive="active">Users</a></td></tr>-->
<tr><td><a [routerLink]="['/settings', {outlets: {settings: ['userpages']}}]" routerLinkActive="active">Pages</a></td></tr><!-- NOT SAFE needs to have its own page for this-->
<tr><td><a [routerLink]="['/settings', {outlets: {settings: ['password']}}]" routerLinkActive="active">Change Password</a></td></tr>
</table>