<div class="row" style="width:100%">
    <div class="col-sm-10">
        <h4 mat-dialog-title>Delete {{objectType}}</h4>
    </div>
    <div class="col-sm-2">
        <button id="CDX" class="close" mat-dialog-close>&times;</button>
    </div>
</div>

<mat-dialog-content>Are you sure you want to permanently delete "{{objName}}"?</mat-dialog-content>
<mat-dialog-content *ngIf="dependentWarning">
    <b>Deleting this object will delete its dependents.</b>
</mat-dialog-content>

<hr>
<mat-dialog-actions>
    <button mat-button id="confDelClick" [mat-dialog-close]="objCode">Delete</button>
    <button mat-button id="noClick" mat-dialog-close>No</button>
</mat-dialog-actions>