#warning {
    position: absolute;
    display: block;
}

#closingX {
    position: absolute;
    right: -10px;
    top: -10px;
}

h4 {
    position: relative;
    bottom: 5px;
}

#noClick {
    position: relative;
    left: 5px;
}

#confDelClick, #noClick {
    background-color: #7e7e7e;
    color: white;
}