.user-bg {
    width:100vw;
    height:100vh;
    background-image: url("../../assets/blur1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
}

router-outlet {
    position:absolute;
    left:230px;
    top:50px;
    right:0px;
}